deploy/dify/workflows/novel-outline-generation-v1.yml
app:
  description: ''
  icon: dolphin
  icon_background: '#FFEAD5'
  icon_type: emoji
  mode: workflow
  name: novel-outline-generation-v1
  use_icon_as_answer_icon: false
dependencies:
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/deepseek:0.0.17@f7a5c1d222d17ee419b17a80d6e4923838fe93788dc724a3af73fbc6990b3a32
    version: null
kind: app
version: 0.6.0
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        attachment_image_file_size_limit: 2
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        file_upload_limit: 20
        image_file_batch_limit: 10
        image_file_size_limit: 10
        single_chunk_attachment_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInLoop: false
        sourceType: start
        targetType: code
      id: 1780891111310-source-1780893412306-target
      selected: false
      source: '1780891111310'
      sourceHandle: source
      target: '1780893412306'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: code
        targetType: llm
      id: 1780893412306-source-1780893511027-target
      selected: false
      source: '1780893412306'
      sourceHandle: source
      target: '1780893511027'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: code
      id: 1780893917058-source-1780894422374-target
      selected: false
      source: '1780893917058'
      sourceHandle: source
      target: '1780894422374'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: code
        targetType: if-else
      id: 1780894422374-source-1780894535796-target
      selected: false
      source: '1780894422374'
      sourceHandle: source
      target: '1780894535796'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: if-else
        targetType: code
      id: 1780894535796-true-1780894667739-target
      selected: false
      source: '1780894535796'
      sourceHandle: 'true'
      target: '1780894667739'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: llm
        targetType: code
      id: 1780893511027-source-1780895262611-target
      selected: false
      source: '1780893511027'
      sourceHandle: source
      target: '1780895262611'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: code
        targetType: llm
      id: 1780895262611-source-1780893917058-target
      selected: false
      source: '1780895262611'
      sourceHandle: source
      target: '1780893917058'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: if-else
        targetType: code
      id: 1780894535796-6afa5d73-932b-414d-94fe-8b02389e9824-1780895580217-target
      source: '1780894535796'
      sourceHandle: 6afa5d73-932b-414d-94fe-8b02389e9824
      target: '1780895580217'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: if-else
        targetType: code
      id: 1780894535796-b9b0dabc-82c3-428d-8940-9c288a5adc09-1780895819821-target
      source: '1780894535796'
      sourceHandle: b9b0dabc-82c3-428d-8940-9c288a5adc09
      target: '1780895819821'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: code
        targetType: code
      id: 1780894667739-source-1780896063529-target
      source: '1780894667739'
      sourceHandle: source
      target: '1780896063529'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: code
        targetType: code
      id: 1780895580217-source-1780896063529-target
      source: '1780895580217'
      sourceHandle: source
      target: '1780896063529'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: code
        targetType: code
      id: 1780895819821-source-1780896063529-target
      source: '1780895819821'
      sourceHandle: source
      target: '1780896063529'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: code
        targetType: end
      id: 1780896063529-source-1780896230175-target
      source: '1780896063529'
      sourceHandle: source
      target: '1780896230175'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        selected: false
        title: 用户输入
        type: start
        variables:
        - default: ''
          hint: ''
          label: project_id
          options: []
          placeholder: ''
          required: true
          type: text-input
          variable: project_id
        - default: ''
          hint: ''
          label: knowledge_snapshot
          options: []
          placeholder: ''
          required: true
          type: text-input
          variable: knowledge_snapshot
        - default: '[]'
          hint: ''
          label: plot_memory
          options: []
          placeholder: ''
          required: false
          type: text-input
          variable: plot_memory
        - default: ''
          hint: ''
          label: outline_brief
          options: []
          placeholder: ''
          required: false
          type: text-input
          variable: outline_brief
        - default: ''
          hint: ''
          label: target_volumes
          options: []
          placeholder: ''
          required: true
          type: text-input
          variable: target_volumes
        - default: ''
          hint: ''
          label: target_chapters
          options: []
          placeholder: ''
          required: true
          type: text-input
          variable: target_chapters
        - default: ''
          hint: ''
          label: genre
          options: []
          placeholder: ''
          required: false
          type: text-input
          variable: genre
        - default: ''
          hint: ''
          label: tone
          options: []
          placeholder: ''
          required: false
          type: text-input
          variable: tone
        - default: ''
          hint: ''
          label: max_retry
          max_length: 3
          options: []
          placeholder: ''
          required: true
          type: text-input
          variable: max_retry
        - default: '0'
          hint: ''
          label: retry_count
          options: []
          placeholder: ''
          required: false
          type: text-input
          variable: retry_count
        - default: ''
          hint: ''
          label: retry_issues_formatted
          options: []
          placeholder: ''
          required: false
          type: text-input
          variable: retry_issues_formatted
        - default: ''
          hint: ''
          label: volume_id
          options: []
          placeholder: ''
          required: true
          type: text-input
          variable: volume_id
        - default: ''
          hint: ''
          label: next_chapter_id
          options: []
          placeholder: ''
          required: true
          type: text-input
          variable: next_chapter_id
        - default: ''
          hint: ''
          label: generation_mode
          options: []
          placeholder: ''
          required: true
          type: text-input
          variable: generation_mode
        - default: ''
          hint: ''
          label: existing_volume_outline
          options: []
          placeholder: ''
          required: true
          type: text-input
          variable: existing_volume_outline
      height: 472
      id: '1780891111310'
      position:
        x: 80
        y: 282
      positionAbsolute:
        x: 80
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        code: "# P0 · Outline Context Merge（可选）\n# 大纲工作流 v1 默认 **不需要 P0**，START 直连\
          \ O1 即可。\n# 若画布上保留 P0，请用本文件，勿用章节版 p0_context_merge.py。\n#\n# Dify 输出变量（须与\
          \ return 键名一致）：\n#   merged_context (String)\n#   has_existing_outline (String)\
          \  — \"true\" / \"false\"\n\nimport json\nfrom typing import Any\n\n\ndef\
          \ _pick_str(*keys: str, **kwargs: Any) -> str:\n    for key in keys:\n \
          \       val = kwargs.get(key)\n        if val is not None and str(val).strip():\n\
          \            return str(val)\n    return \"\"\n\n\ndef main(**kwargs: Any)\
          \ -> dict:\n    knowledge_snapshot = _pick_str(\n        \"knowledge_snapshot\"\
          , \"knowledge\", \"merged_context\", **kwargs\n    )\n    outline_brief\
          \ = _pick_str(\"outline_brief\", \"creative_brief\", **kwargs).strip()\n\
          \    plot_memory = _pick_str(\"plot_memory\", \"plot_memo\", **kwargs)\n\
          \n    merged = {\n        \"knowledge_snapshot\": knowledge_snapshot,\n\
          \        \"outline_brief\": outline_brief,\n        \"plot_memory\": plot_memory,\n\
          \    }\n\n    # 若 START 传入的 knowledge 已是 JSON，保留；否则包一层\n    return {\n \
          \       \"merged_context\": json.dumps(merged, ensure_ascii=False),\n  \
          \      \"has_existing_outline\": \"true\" if outline_brief else \"false\"\
          ,\n    }\n"
        code_language: python3
        outputs:
          has_existing_outline:
            children: null
            type: string
          merged_context:
            children: null
            type: string
        selected: false
        title: P0 — 上下文合并
        type: code
        variables:
        - value_selector:
          - '1780891111310'
          - knowledge_snapshot
          value_type: string
          variable: knowledge_snapshot
        - value_selector:
          - '1780891111310'
          - outline_brief
          value_type: string
          variable: outline_brief
        - value_selector:
          - '1780891111310'
          - plot_memory
          value_type: string
          variable: plot_memory
      height: 51
      id: '1780893412306'
      position:
        x: 568.5127450156425
        y: 440.4832175086426
      positionAbsolute:
        x: 568.5127450156425
        y: 440.4832175086426
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        context:
          enabled: false
          variable_selector: []
        model:
          completion_params:
            temperature: 0.5
          mode: chat
          name: deepseek-v4-pro
          provider: langgenius/deepseek/deepseek
        prompt_config:
          jinja2_variables:
          - value_selector:
            - '1780891111310'
            - retry_issues_formatted
            variable: retry_issues_formatted
          - value_selector:
            - '1780891111310'
            - knowledge_snapshot
            variable: knowledge_snapshot
          - value_selector:
            - '1780891111310'
            - plot_memory
            variable: plot_memory
          - value_selector:
            - '1780891111310'
            - volume_id
            variable: volume_id
          - value_selector:
            - '1780891111310'
            - next_chapter_id
            variable: next_chapter_id
          - value_selector:
            - '1780891111310'
            - existing_volume_outline
            variable: existing_volume_outline
          - value_selector:
            - '1780891111310'
            - genre
            variable: genre
          - value_selector:
            - '1780891111310'
            - tone
            variable: tone
          - value_selector:
            - '1780891111310'
            - outline_brief
            variable: outline_brief
          - value_selector:
            - '1780891111310'
            - target_volumes
            variable: target_volumes
          - value_selector:
            - '1780891111310'
            - target_chapters
            variable: target_chapters
        prompt_template:
        - id: f90ca814-bf94-4f23-b8f1-92e1f1859cca
          role: system
          text: '你是一位具备出版级经验的中文长篇叙事架构师（Narrative Architect），专责从世界观与人物档案中推导可连载执行的分卷分章大纲。你的产出将被下游章节生成流水线直接消费为节拍清单（beats），因此必须「事件具体、因果清晰、可拍成场景」。

            结构能力

            熟练设计三幕/多幕弧、卷末高潮与章末悬念（mini-cliffhanger）；

            能在卷—章—节拍三级粒度上分配冲突升级，避免前松后紧或中段塌陷；

            每章 beats 写「谁在哪里因何做了什么、导致什么变化」，而非正文或空泛指令。

            设定执行

            以 knowledge_snapshot 为唯一世界观来源：world.settingConstraints、world.rules、人物、势力、地点、地图须一致；

            力量体系：须严格遵循 world.magicConstraint 与 settingConstraints 中的「严禁」清单；无魔法设定下出现修仙/魔教/灵力/丹道/宗门/法术
            → Hard Fail；

            实体白名单：beats 须使用 knowledge 已登记的主角名、国家名、地点名；自造替代名 → Hard Fail（除非 brief 授权）；

            不得 silent retcon：不发明与 world.rules 冲突的硬设定，不擅自新增具名重要角色/势力（除非 brief 授权）；

            plot_memory 与 existing_volume_outline 冲突时，以 existing_volume_outline 为准；新章须承接最后一章
            beats。

            输出纪律

            只输出符合 JSON Schema 的单个 JSON 对象；

            禁止 Markdown 代码围栏、前言、后记、创作说明、道歉；

            顶层字段：outline_summary（200–500 字全书总纲）+ outline（含 volumes 数组）。

            本节点专项职责（Stage-O1：全书大纲生成）

            你正在执行大纲工作流 O1。根据 User 中的模式生成 OutlineDocument 结构。

            单章模式（generation_mode=single_chapter）

            只生成 User 指定的 1 章（next_chapter_id）写入 1 个卷（volume_id）；

            硬性：JSON 中 outline.volumes 至少 1 卷、该卷 chapters 至少 1 章、该章 beats 至少 3 条；绝不可只填
            outline_summary 而留空 volumes/beats；

            设定来源优先级：knowledge_snapshot.world.settingConstraints > world.rules > outline_brief
            设定锚点 > existing_volume_outline > plot_memory；

            题材：outline_summary 与全部 beats 须符合 settingConstraints 与 world.magicConstraint；禁止修仙/魔教/灵力/丹道/宗门秘法/法术/穿越/系统（除非
            settingConstraints 明确允许）；

            实体：beats 须出现 brief 中主角姓名及 knowledge 已登记国家/地点名；禁止自造替代实体；

            禁止引入 world.rules / settingConstraints 未允许的超自然、魔法、异世界元素；

            existing_volume_outline 已有 beats 为 canonical，须因果承接其最后一章，不得吃书、不得换主角/世界观；

            plot_memory 若与 existing_volume_outline 冲突，以 existing_volume_outline 为准；

            outline_summary 为本章梗概（50–150 字），非全书总纲。

            全书模式（默认）

            根据目标卷数、章数、类型、基调与 brief，生成完整 OutlineDocument。

            id 规范

            卷：vol-01, vol-02, …（两位数字）

            章：ch-001, ch-002, …（三位数字，全局连续或按卷内连续均可，但不可重复）

            每章 status 固定为 "draft"

            beats 规范

            每章 3–8 条（Hard 边界 2–12 由 O2 校验，你应主动满足 3–8）；

            每条 20–80 汉字，描述事件而非写作指令；

            合格示例：「林渊在档案馆发现匿名密信，信上提及平京地下妖市」；

            不合格示例：「写一场打戏」「推进主线」「继续发展」。

            规模约束

            总章数 ≈ User 中的 target_chapters（允许 ±2）；

            卷数 ≈ target_volumes；

            多卷时各卷须有明确戏剧弧（卷末留钩子），避免某一卷占 80% 章数。

            重试修订协议

            若 User 顶部含「编辑驳回」块，将其视为最高优先级硬性修订清单，优先于一切创作冲动；

            驳回若指出魔法/跑题/未用实体：整章重写，不得保留违规 beats 或同义改写；

            单章模式：仅重写 next_chapter_id 对应的一章，勿改动 existing_volume_outline 已有章；

            全书模式：重写全书大纲，逐条修复 O2 驳回项；

            修复后自检：id 无重复、beats 无空泛、与 world.rules 及 knowledge 实体一致。

            输出形态

            仅输出 JSON，根对象含 outline_summary 与 outline；

            outline.volumes[].chapters[].beats[] 每项含 order（从 1 递增）与 text。'
        - edition_type: jinja2
          id: 3114dbb7-a552-492a-a4f9-99f9fae3f94c
          jinja2_text: "{% if retry_issues_formatted %}\r\n\r\n编辑驳回（最高优先级 · 须逐条修复）\r\
            \n\r\n以下 hard issue 必须在本次 JSON 中全部消除；不得再引入相同违规设定。\r\n\r\n{{ retry_issues_formatted\
            \ }}\r\n\r\n{% endif %}\r\n\r\n知识库（必填，不可为空）\r\n\r\n{{ knowledge_snapshot\
            \ }}\r\n\r\n剧情记忆\r\n\r\n{{ plot_memory }}\r\n\r\n{% if generation_mode\
            \ == 'single_chapter' %}\r\n\r\n单章生成模式（必填）\r\n\r\n\r\n\r\n\r\n\r\n目标卷\
            \ id：{{ volume_id }}（outline 中 volumes[].id 须与此一致）\r\n\r\n\r\n\r\n新章 id：{{\
            \ next_chapter_id }}（chapter.id 必须使用该值，不可改）\r\n\r\n\r\n\r\n只输出 1 章：outline.volumes\
            \ 仅 1 个卷条目，该卷 chapters 仅 1 条\r\n\r\n\r\n\r\n必须在 outline.volumes[0].chapters[0].beats\
            \ 写 3–8 条具体事件节拍（每条 20–80 字）；禁止只在 outline_summary 写故事而不输出 beats\r\n\r\n\
            \r\n\r\n必须严格遵循 knowledge_snapshot.world.settingConstraints、world.magicConstraint\
            \ 与 outline_brief 中「设定锚点」及「实体白名单」\r\n\r\n\r\n\r\n禁止修仙/魔教/灵力/丹道/宗门/法术/穿越/系统/浮空岛/古神/星盘/超自然（除非\
            \ settingConstraints 明确允许）\r\n\r\n\r\n\r\n禁止现代都市创业/商战/互联网题材（除非 settingConstraints\
            \ 明确允许）\r\n\r\n\r\n\r\nbeats 中须出现 brief 指定的主角姓名 + 至少 1 个 knowledge 已登记国家名\
            \ + 至少 1 个已登记地点名\r\n\r\n\r\n\r\n禁止自造与 knowledge 冲突的具名主角/都城/国家（如 brief\
            \ 要求周衍则禁止写李然等替代名）\r\n\r\n\r\n\r\noutline_summary 写本章梗概（50–150 字），须与 beats\
            \ 同一故事、同一设定\r\n\r\n\r\n\r\n若 existing_volume_outline.chapters 为空，表示本卷尚无落盘章节，仍须输出完整\
            \ chapter + beats（id = next_chapter_id）\r\n\r\n\r\n\r\n须承接 existing_volume_outline\
            \ 最后一章与 plot_memory 前序摘要，不得吃书\r\n\r\n\r\n\r\nplot_memory 与 existing_volume_outline\
            \ 冲突时，以 existing_volume_outline 为准\r\n\r\n本卷已有章节\r\n\r\n{{ existing_volume_outline\
            \ }}\r\n\r\n要求\r\n\r\n\r\n\r\n\r\n\r\n类型：{{ genre }}\r\n\r\n\r\n\r\n基调：{{\
            \ tone }}\r\n\r\n\r\n\r\n补充说明：{{ outline_brief }}\r\n\r\n{% else %}\r\n\
            \r\n要求（必填）\r\n\r\n\r\n\r\n\r\n\r\n目标 {{ target_volumes }} 卷、约 {{ target_chapters\
            \ }} 章\r\n\r\n\r\n\r\n{% endif %}\r\n\r\n只输出一个 JSON 对象。禁止 Markdown 代码块。禁止输出\
            \ think / redacted_thinking 思考过程。"
          role: user
          text: ''
        selected: false
        structured_output:
          schema:
            $id: novelscreator.outline.o1.output
            $schema: https://json-schema.org/draft/2020-12/schema
            additionalProperties: false
            properties:
              outline:
                additionalProperties: false
                properties:
                  volumes:
                    items:
                      additionalProperties: false
                      properties:
                        chapters:
                          items:
                            additionalProperties: false
                            properties:
                              beats:
                                items:
                                  additionalProperties: false
                                  properties:
                                    order:
                                      minimum: 1
                                      type: integer
                                    text:
                                      minLength: 8
                                      type: string
                                  required:
                                  - order
                                  - text
                                  type: object
                                maxItems: 12
                                minItems: 2
                                type: array
                              id:
                                pattern: ^ch-\d{3}$
                                type: string
                              status:
                                enum:
                                - draft
                                - generating
                                - generated
                                - published
                                type: string
                              title:
                                type: string
                            required:
                            - id
                            - title
                            - status
                            - beats
                            type: object
                          minItems: 1
                          type: array
                        id:
                          pattern: ^vol-\d{2}$
                          type: string
                        title:
                          type: string
                      required:
                      - id
                      - title
                      - chapters
                      type: object
                    minItems: 1
                    type: array
                required:
                - volumes
                type: object
              outline_summary:
                description: 200-500 字全书总纲
                type: string
            required:
            - outline_summary
            - outline
            type: object
        structured_output_enabled: true
        title: O1 — 全书大纲生成
        type: llm
        vision:
          enabled: false
      height: 87
      id: '1780893511027'
      position:
        x: 818.473529711319
        y: 234.63998342807122
      positionAbsolute:
        x: 818.473529711319
        y: 234.63998342807122
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        context:
          enabled: false
          variable_selector: []
        model:
          completion_params:
            temperature: 0.2
          mode: chat
          name: deepseek-v4-pro
          provider: langgenius/deepseek/deepseek
        prompt_config:
          jinja2_variables:
          - value_selector:
            - '1780893412306'
            - merged_context
            variable: merged_context
          - value_selector:
            - '1780895262611'
            - outline_json
            variable: outline_json
          - value_selector:
            - '1780891111310'
            - knowledge_snapshot
            variable: knowledge_snapshot
          - value_selector:
            - '1780891111310'
            - plot_memory
            variable: plot_memory
          - value_selector:
            - '1780891111310'
            - target_volumes
            variable: target_volumes
          - value_selector:
            - '1780891111310'
            - target_chapters
            variable: target_chapters
          - value_selector:
            - '1780893511027'
            - text
            variable: text
          - value_selector:
            - '1780895262611'
            - outline_summary
            variable: outline_summary
        prompt_template:
        - id: 786098ee-1313-46f9-90d2-603cef954d5c
          role: system
          text: '你是一位资深发展编辑（Developmental Editor）兼 continuity supervisor，专责大纲的结构审读与设定一致性审计。你只审「结构是否可执行、节拍是否具体、是否与知识库一致」，不做主观文笔评价。

            审读立场

            以 User 提供的 outline_json（O1X 输出，含 volumes[]）与 knowledge_snapshot 为首要依据；

            第一步：解析 outline_json。若 volumes 为空、无 chapters、或全章 beats 总数 < 2，则 outline_valid=false，仅输出
            1 条 hard issue（说明结构缺失），禁止此时比对 world.rules、禁止输出设定/吃书/实体未用等其它 issue；

            仅当 outline_json 已成功解析且至少 1 章含 ≥2 条 beats 时，才允许做设定一致性审计；

            区分「可接受的扩写空间」与「结构性缺陷」：后者必须 flagged；

            所有 issue 须可定位（章 id、卷 id 或 beats 序号）且可执行。

            输出纪律

            必须且只能输出符合 JSON Schema 的单个 JSON 对象；

            禁止 Markdown 代码围栏、解释性前言、后记；

            存在任一 Hard Fail 时 outline_valid = false，且 outline_issues 至少 1 条。

            本节点专项职责（Stage-O2：大纲结构校验）

            你正在执行大纲工作流 O2。审读 O1X 提取的 outline_json，对照知识库与 User 中的模式，输出校验 JSON。

            模式 A · 单章串行（User 含 generation_mode=single_chapter）

            客户端逐章 POST；每次 outline_json 只应含 1 章（id = next_chapter_id）。

            记忆与承接（易错 · 必读）

            | 数据源 | 地位 |

            |--------|------|

            | existing_volume_outline | canonical：本卷已落盘章节；不得与 plot_memory 冲突时以它为准
            |

            | plot_memory | 辅助：仅判断新章是否承接已有大纲末章；不得用旧正文摘要否定新章 |

            | knowledge_snapshot | 硬约束：world.settingConstraints、world.magicConstraint、world.rules、已登记
            characters/factions/locations/nations |

            Hard Fail（单章模式）

            outline_json 不是恰好 1 章，或章 id ≠ next_chapter_id

            该章 beats < 2** 或 **> 12

            章 id 不符合 ch-\d{3}

            与 knowledge_snapshot.world.settingConstraints 或 world.magicConstraint
            或 world.rules 明显矛盾（含修仙/魔教/灵力/丹道/宗门/法术/穿越/系统等未授权超自然）

            新章 beats 未出现 knowledge 已登记主角姓名，或未出现任何已登记国家/地点名（location=global 或对应章 id）

            新章具名主角/核心势力/都城不在 knowledge 已登记实体中，且 brief 未授权（location=global）

            新章与 existing_volume_outline 最后一章 beats 因果断裂（吃书、时间倒流、主角换人无铺垫）

            空泛 beats 占比 > 30%

            不得判 Hard Fail 的情况

            plot_memory 中某章摘要与 existing_volume_outline 不一致 → 以 existing_volume_outline
            为准，忽略 plot_memory

            plot_memory 含正文遗留人物/事件，但 existing_volume_outline 已用不同 beats 落盘 → 忽略 plot_memory

            正在校验的 next_chapter_id 与 plot_memory 同 id 摘要不一致 → 正常（新章尚未写入记忆）

            target_chapters=1 时章数不为 1 → hard；为 1 → chapter_count_ok=true

            单章模式布尔字段

            chapter_count_ok：恰好 1 章为 true

            volume_balance_ok：单章模式恒 true

            模式 B · 全书批量（默认）

            审读维度

            | 维度 | 检查要点 |

            |------|----------|

            | 结构完整性 | 每章有 title、id、beats；卷—章层级完整 |

            | 节拍质量 | beats 是否具体可拍；空泛句占比 |

            | 设定一致 | 与 world.rules、characters、factions、locations 是否矛盾 |

            | 规模合理 | 章数是否接近 target_chapters；多卷分布是否均衡 |

            | 记忆承接 | plot_memory 非空时，大纲是否与已有摘要冲突 |

            Hard Fail（全书模式）

            任一章 beats < 2** 或 **> 12

            章 id 不符合 ch-\d{3}，或全局重复

            与 knowledge_snapshot.world.settingConstraints 或 world.magicConstraint
            或 world.rules 明显矛盾

            总章数偏离 target_chapters 超过 50%

            空泛 beats 占比 > 30%

            outline_issues 格式

            每条 issue 为对象：


            { "severity": "hard", "location": "ch-003", "message": "第 2 条节拍与 ch-002
            重复，无新信息" }


            severity：hard | warn | info

            location：章 id 或 vol-01 或 global

            message：中文，具体可执行

            评分与布尔字段

            structure_score / beat_quality_score / lore_consistency_score：0–100

            chapter_count_ok / volume_balance_ok：见上方模式说明

            整体判定

            当且仅当无 Hard Fail → outline_valid = true'
        - edition_type: jinja2
          id: e0b0ee78-33da-44ae-9ea3-bd16b125a45c
          jinja2_text: "{% if merged_context %}\r\n\r\n上下文（P0 合并）\r\n\r\n{{ merged_context\
            \ }}\r\n\r\n待校验大纲（O1X 输出，必填）\r\n\r\n{{ outline_json }}\r\n\r\n{% else\
            \ %}\r\n\r\n待校验大纲（必填，O1X.outline_json · 须为 JSON 含 volumes）\r\n\r\n{{ outline_json\
            \ }}\r\n\r\n{% if not outline_json or outline_json == '{}' or outline_json\
            \ == '{\"volumes\":[]}' or outline_json == '{\"volumes\": []}' %}\r\n\
            ⚠️ outline_json 为空或 volumes 为空 → 只输出 1 条 hard issue，勿臆造其它校验项。\r\n{% endif\
            \ %}\r\n\r\n知识库\r\n\r\n{{ knowledge_snapshot }}\r\n\r\n剧情记忆\r\n\r\n{{\
            \ plot_memory }}\r\n\r\n{% if generation_mode == 'single_chapter' %}\r\
            \n\r\n单章校验模式（generation_mode=single_chapter）\r\n\r\n\r\n\r\n\r\n\r\n目标卷：{{\
            \ volume_id }}\r\n\r\n\r\n\r\n待校验新章 id：{{ next_chapter_id }}（outline_json\
            \ 中应仅有此 1 章）\r\n\r\n\r\n\r\n目标章数：{{ target_chapters }}（应为 1）\r\n\r\n本卷已有章节（canonical\
            \ · 高于 plot_memory）\r\n\r\n{{ existing_volume_outline }}\r\n\r\n记忆优先级（审读时必须遵守）\r\
            \n\r\n\r\n\r\n\r\n\r\nexisting_volume_outline 中已有章节的 beats = 已落盘大纲，不得因\
            \ plot_memory 中旧摘要不同而判 hard fail。\r\n\r\n\r\n\r\nplot_memory 仅用于校验新章是否承接\
            \ existing_volume_outline 最后一章的因果。\r\n\r\n\r\n\r\n禁止用 plot_memory 里「未出现在\
            \ existing_volume_outline 的章 id」或「正文遗留摘要」否定新章。\r\n\r\n\r\n\r\n勿校验 plot_memory\
            \ 与 next_chapter_id 是否一致（新章本来就要写入/更新）。\r\n\r\n{% else %}\r\n\r\n目标（全书模式）\r\
            \n\r\n\r\n\r\n\r\n\r\n卷数约 {{ target_volumes }}\r\n\r\n\r\n\r\n章数约 {{ target_chapters\
            \ }}\r\n\r\n{% endif %}\r\n\r\n{% endif %}\r\n\r\n请按 System 要求输出校验 JSON。禁止输出\
            \ think / redacted_thinking 思考过程。"
          role: user
          text: ''
        selected: false
        structured_output:
          schema:
            additionalProperties: false
            properties:
              beat_quality_score:
                maximum: 100
                minimum: 0
                type: number
              chapter_count_ok:
                type: boolean
              lore_consistency_score:
                maximum: 100
                minimum: 0
                type: number
              outline_issues:
                items:
                  additionalProperties: false
                  properties:
                    location:
                      type: string
                    message:
                      type: string
                    severity:
                      enum:
                      - hard
                      - warn
                      - info
                      type: string
                  required:
                  - severity
                  - location
                  - message
                  type: object
                type: array
              outline_valid:
                type: boolean
              structure_score:
                maximum: 100
                minimum: 0
                type: number
              volume_balance_ok:
                type: boolean
            required:
            - outline_valid
            - outline_issues
            - structure_score
            - beat_quality_score
            - lore_consistency_score
            - chapter_count_ok
            - volume_balance_ok
            type: object
        structured_output_enabled: true
        title: O2 — 大纲结构校验
        type: llm
        vision:
          enabled: false
      height: 87
      id: '1780893917058'
      position:
        x: 1339.6790542809497
        y: 780.4698884971845
      positionAbsolute:
        x: 1339.6790542809497
        y: 780.4698884971845
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        code: "# AGG · Outline Validation Aggregate + Route\n#\n# === Dify 输入（4 项，均须绑定）===\n\
          #   validate_result ← O2 / text（String）\n#   retry_count     ← 开始 / retry_count\n\
          #   max_retry       ← 开始 / max_retry\n#   outline_json    ← O1X / outline_json（勿绑\
          \ O1.text）\n#\n# === Dify 输出（6 项）===\n#   route, retry_issues_formatted,\
          \ validation_report, outline_json → String\n#   retry_count → Number\n#\
          \   outline_valid → Boolean\n\nimport json\nimport re\nfrom typing import\
          \ Any\n\nTHINK_RE = re.compile(\n    r\"<(?:redacted_)?think(?:ing)?>[\\\
          s\\S]*?</(?:redacted_)?think(?:ing)?>\",\n    re.I,\n)\n\n\ndef _strip_think(text:\
          \ str) -> str:\n    return THINK_RE.sub(\"\", text or \"\").strip()\n\n\n\
          def _parse_llm_json(raw: Any) -> dict:\n    if isinstance(raw, dict):\n\
          \        return raw\n    if raw is None:\n        return {}\n    text =\
          \ _strip_think(str(raw).strip())\n    if not text or text.lower() in (\"\
          null\", \"none\"):\n        return {}\n    if text.startswith(\"```\"):\n\
          \        lines = text.split(\"\\n\")\n        text = \"\\n\".join(lines[1:-1]\
          \ if len(lines) > 2 else lines).strip()\n    try:\n        parsed = json.loads(text)\n\
          \        return parsed if isinstance(parsed, dict) else {}\n    except json.JSONDecodeError:\n\
          \        pass\n    start = text.find(\"{\")\n    end = text.rfind(\"}\"\
          )\n    if start >= 0 and end > start:\n        try:\n            parsed\
          \ = json.loads(text[start : end + 1])\n            return parsed if isinstance(parsed,\
          \ dict) else {}\n        except json.JSONDecodeError:\n            pass\n\
          \    return {}\n\n\ndef _to_int(value: Any, fallback: int = 0) -> int:\n\
          \    if value is None or str(value).strip().lower() in (\"null\", \"none\"\
          , \"\"):\n        return fallback\n    try:\n        return int(value)\n\
          \    except (TypeError, ValueError):\n        return fallback\n\n\ndef _as_bool(value:\
          \ Any) -> bool:\n    \"\"\"Dify/O2 可能返回 bool 或字符串 \\\"true\\\"/\\\"false\\\
          \"；勿用裸 bool(str)。\"\"\"\n    if isinstance(value, bool):\n        return\
          \ value\n    if isinstance(value, str):\n        return value.strip().lower()\
          \ in (\"true\", \"1\", \"yes\")\n    if isinstance(value, (int, float)):\n\
          \        return value != 0\n    return bool(value)\n\n\ndef _pick_validate_result(kwargs:\
          \ dict) -> Any:\n    for key in (\"validate_result\", \"validate_text\"\
          , \"text\", \"o2_result\"):\n        val = kwargs.get(key)\n        if val\
          \ is None:\n            continue\n        if isinstance(val, str) and val.strip().lower()\
          \ in (\"null\", \"none\", \"\"):\n            continue\n        return val\n\
          \    return \"{}\"\n\n\ndef _normalize_outline_json(raw: Any) -> str:\n\
          \    \"\"\"若误绑 O1 整段输出，尽量提取 { volumes }。\"\"\"\n    if raw is None:\n  \
          \      return \"{}\"\n    if isinstance(raw, dict):\n        if isinstance(raw.get(\"\
          volumes\"), list):\n            return json.dumps({\"volumes\": raw[\"volumes\"\
          ]}, ensure_ascii=False)\n        outline = raw.get(\"outline\")\n      \
          \  if isinstance(outline, dict) and isinstance(outline.get(\"volumes\"),\
          \ list):\n            return json.dumps(outline, ensure_ascii=False)\n \
          \   text = str(raw).strip()\n    if not text or text.lower() in (\"null\"\
          , \"none\"):\n        return \"{}\"\n    if \"outline_summary\" in text\
          \ or \"redacted_think\" in text.lower() or \"<think\" in text.lower():\n\
          \        parsed = _parse_llm_json(text)\n        outline = parsed.get(\"\
          outline\")\n        if isinstance(outline, dict) and isinstance(outline.get(\"\
          volumes\"), list):\n            return json.dumps(outline, ensure_ascii=False)\n\
          \        if isinstance(parsed.get(\"volumes\"), list):\n            return\
          \ json.dumps({\"volumes\": parsed[\"volumes\"]}, ensure_ascii=False)\n \
          \   try:\n        parsed = json.loads(text)\n        if isinstance(parsed,\
          \ dict) and isinstance(parsed.get(\"volumes\"), list):\n            return\
          \ json.dumps(parsed, ensure_ascii=False)\n    except json.JSONDecodeError:\n\
          \        pass\n    return text\n\n\ndef _count_chapters(outline_json: str)\
          \ -> int:\n    try:\n        doc = json.loads(outline_json) if isinstance(outline_json,\
          \ str) else outline_json\n    except json.JSONDecodeError:\n        return\
          \ 0\n    if not isinstance(doc, dict):\n        return 0\n    n = 0\n  \
          \  for vol in doc.get(\"volumes\") or []:\n        if isinstance(vol, dict)\
          \ and isinstance(vol.get(\"chapters\"), list):\n            n += len(vol[\"\
          chapters\"])\n    return n\n\n\ndef _o1x_empty_outputs(retry_count: int,\
          \ max_retry: int, outline_json: str) -> dict:\n    issue = (\n        \"\
          - [hard] global: O1X outline_json 无有效章节（volumes/chapters 为空）。\"\n      \
          \  \"请检查：① O1 开启 Structured Output 并粘贴 o1-outline.output.json；\"\n     \
          \   \"② O1X 输入绑定 O1.text；③ O2 outline_json 绑定 O1X.outline_json（勿绑 O1.text）\"\
          \n    )\n    new_retry = retry_count + 1 if retry_count < max_retry else\
          \ retry_count\n    route = \"retry\" if retry_count < max_retry else \"\
          circuit_break\"\n    report = {\n        \"outline_valid\": False,\n   \
          \     \"outline_issues\": [\n            {\n                \"severity\"\
          : \"hard\",\n                \"location\": \"global\",\n               \
          \ \"message\": \"O1X 未返回有效章节结构，见 retry_issues_formatted\",\n           \
          \ }\n        ],\n        \"structure_score\": 0,\n        \"beat_quality_score\"\
          : 0,\n        \"lore_consistency_score\": 0,\n        \"chapter_count_ok\"\
          : False,\n        \"volume_balance_ok\": False,\n    }\n    return {\n \
          \       \"route\": route,\n        \"retry_count\": int(new_retry),\n  \
          \      \"retry_issues_formatted\": issue,\n        \"outline_valid\": False,\n\
          \        \"validation_report\": json.dumps(report, ensure_ascii=False),\n\
          \        \"outline_json\": outline_json,\n    }\n\n\ndef _empty_outputs(retry_count:\
          \ int = 0, outline_json: str = \"{}\") -> dict:\n    return {\n        \"\
          route\": \"retry\",\n        \"retry_count\": retry_count,\n        \"retry_issues_formatted\"\
          : \"- [hard] global: O2 未返回有效校验 JSON（validate_result 为空）\",\n        \"\
          outline_valid\": False,\n        \"validation_report\": \"{}\",\n      \
          \  \"outline_json\": outline_json,\n    }\n\n\ndef main(**kwargs: Any) ->\
          \ dict:\n    try:\n        validate_result = _pick_validate_result(kwargs)\n\
          \        raw_outline = kwargs.get(\"outline_json\") or kwargs.get(\"o1_result\"\
          ) or \"{}\"\n        outline_json = _normalize_outline_json(raw_outline)\n\
          \        retry_count = _to_int(kwargs.get(\"retry_count\"), 0)\n       \
          \ max_retry = _to_int(kwargs.get(\"max_retry\"), 3)\n\n        if _count_chapters(outline_json)\
          \ == 0:\n            return _o1x_empty_outputs(retry_count, max_retry, outline_json)\n\
          \n        v = _parse_llm_json(validate_result)\n        if not v:\n    \
          \        out = _empty_outputs(retry_count, outline_json)\n            if\
          \ retry_count >= max_retry:\n                out[\"route\"] = \"circuit_break\"\
          \n            else:\n                out[\"retry_count\"] = retry_count\
          \ + 1\n            return out\n\n        valid = _as_bool(v.get(\"outline_valid\"\
          , False))\n        issues = v.get(\"outline_issues\") or []\n\n        if\
          \ valid:\n            route = \"continue\"\n            new_retry = retry_count\n\
          \        elif retry_count < max_retry:\n            route = \"retry\"\n\
          \            new_retry = retry_count + 1\n        else:\n            route\
          \ = \"circuit_break\"\n            new_retry = retry_count\n\n        formatted\
          \ = []\n        for item in issues[:12]:\n            if isinstance(item,\
          \ dict):\n                formatted.append(\n                    f\"- [{item.get('severity',\
          \ 'warn')}] {item.get('location', '')}: {item.get('message', '')}\"\n  \
          \              )\n            else:\n                formatted.append(f\"\
          - {item}\")\n\n        return {\n            \"route\": route,\n       \
          \     \"retry_count\": int(new_retry),\n            \"retry_issues_formatted\"\
          : \"\\n\".join(formatted),\n            \"outline_valid\": bool(valid),\n\
          \            \"validation_report\": json.dumps(v, ensure_ascii=False),\n\
          \            \"outline_json\": outline_json,\n        }\n    except Exception:\n\
          \        return _empty_outputs(_to_int(kwargs.get(\"retry_count\"), 0))\n"
        code_language: python3
        outputs:
          outline_json:
            children: null
            type: string
          outline_valid:
            children: null
            type: boolean
          retry_count:
            children: null
            type: number
          retry_issues_formatted:
            children: null
            type: string
          route:
            children: null
            type: string
          validation_report:
            children: null
            type: string
        selected: false
        title: AGG — 校验汇总
        type: code
        variables:
        - value_selector:
          - '1780893917058'
          - text
          value_type: string
          variable: validate_result
        - value_selector:
          - '1780891111310'
          - retry_count
          value_type: string
          variable: retry_count
        - value_selector:
          - '1780891111310'
          - max_retry
          value_type: string
          variable: max_retry
        - value_selector:
          - '1780895262611'
          - outline_json
          value_type: string
          variable: outline_json
      height: 51
      id: '1780894422374'
      position:
        x: 1601.093816957763
        y: 463.78798991169
      positionAbsolute:
        x: 1601.093816957763
        y: 463.78798991169
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        cases:
        - case_id: 'true'
          conditions:
          - comparison_operator: is
            id: 8aa16af0-ff62-4bb9-86ce-49fa971a6551
            value: retry
            varType: string
            variable_selector:
            - '1780894422374'
            - route
          id: 'true'
          logical_operator: and
        - case_id: 6afa5d73-932b-414d-94fe-8b02389e9824
          conditions:
          - comparison_operator: is
            id: 66cd314f-7822-41aa-a23f-977d6aec8c3d
            value: circuit_break
            varType: string
            variable_selector:
            - '1780894422374'
            - route
          id: 6afa5d73-932b-414d-94fe-8b02389e9824
          logical_operator: and
        - case_id: b9b0dabc-82c3-428d-8940-9c288a5adc09
          conditions:
          - comparison_operator: is
            id: 7cdfb126-47ba-4fe7-b351-e8ab4dac332f
            value: continue
            varType: string
            variable_selector:
            - '1780894422374'
            - route
          id: b9b0dabc-82c3-428d-8940-9c288a5adc09
          logical_operator: and
        selected: false
        title: 条件分支
        type: if-else
      height: 267
      id: '1780894535796'
      position:
        x: 1902.093816957763
        y: 463.78798991169
      positionAbsolute:
        x: 1902.093816957763
        y: 463.78798991169
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        code: "# RE · Outline Client Retry Handoff（方案 B：Dify 不回连 O1）\n\nimport json\n\
          from typing import Any\n\n\ndef _as_json_str(raw: Any, fallback: str = \"\
          {}\") -> str:\n    if raw is None:\n        return fallback\n    if isinstance(raw,\
          \ dict):\n        return json.dumps(raw, ensure_ascii=False)\n    text =\
          \ str(raw).strip()\n    return text or fallback\n\n\ndef _to_int(value:\
          \ Any, fallback: int = 0) -> int:\n    try:\n        return int(value)\n\
          \    except (TypeError, ValueError):\n        return fallback\n\n\ndef main(**kwargs:\
          \ Any) -> dict:\n    outline_json = kwargs.get(\"outline_json\") or \"{}\"\
          \n    outline_summary = str(kwargs.get(\"outline_summary\") or \"\")\n \
          \   retry_count = _to_int(kwargs.get(\"retry_count\"), 0)\n    retry_issues_formatted\
          \ = str(kwargs.get(\"retry_issues_formatted\") or \"\")\n    validation_report\
          \ = kwargs.get(\"validation_report\") or \"{}\"\n\n    end_outputs = {\n\
          \        \"status\": \"retry\",\n        \"circuit_break\": False,\n   \
          \     \"human_action_required\": False,\n        \"retry_count\": retry_count,\n\
          \        \"outline_summary\": outline_summary,\n        \"outline_json\"\
          : _as_json_str(outline_json, \"{}\"),\n        \"retry_issues_formatted\"\
          : retry_issues_formatted,\n        \"validation_report\": _as_json_str(validation_report,\
          \ \"{}\"),\n        \"workflow_version\": \"novel-outline-generation-v1\"\
          ,\n    }\n    return {\"end_outputs\": json.dumps(end_outputs, ensure_ascii=False)}\n"
        code_language: python3
        outputs:
          end_outputs:
            children: null
            type: string
        selected: false
        title: RE — 重试早退输出
        type: code
        variables:
        - value_selector:
          - '1780893511027'
          - text
          value_type: string
          variable: outline_json
        - value_selector:
          - '1780895262611'
          - outline_summary
          value_type: string
          variable: outline_summary
        - value_selector:
          - '1780894422374'
          - retry_count
          value_type: number
          variable: retry_count
        - value_selector:
          - '1780894422374'
          - outline_valid
          value_type: boolean
          variable: outline_valid
        - value_selector:
          - '1780894422374'
          - retry_issues_formatted
          value_type: string
          variable: retry_issues_formatted
        - value_selector:
          - '1780894422374'
          - validation_report
          value_type: string
          variable: validation_report
      height: 51
      id: '1780894667739'
      position:
        x: 2203.093816957763
        y: 463.78798991169
      positionAbsolute:
        x: 2203.093816957763
        y: 463.78798991169
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        code: "# O1X · 解析 O1 LLM 输出 → outline_summary + outline_json（仅 volumes）\n\
          #\n# === Dify 输入 ===\n#   o1_result         ← O1.text（必填其一）\n#   structured_output\
          \   ← O1.structured_output（Structured Output 开启时强烈建议绑定）\n#\n# === Dify 输出（仅\
          \ 2 项，勿多加）===\n#   outline_summary → String\n#   outline_json    → String\n\
          \nimport json\nimport re\nfrom typing import Any\n\nTHINK_RE = re.compile(\n\
          \    r\"<(?:redacted_)?think(?:ing)?>[\\s\\S]*?</(?:redacted_)?think(?:ing)?>\"\
          ,\n    re.I,\n)\n\n\ndef _strip_think(text: str) -> str:\n    text = THINK_RE.sub(\"\
          \", text or \"\")\n    low = text.lower()\n    for tag in (\"redacted_thinking\"\
          , \"thinking\", \"think\"):\n        open_tag = f\"<{tag}>\"\n        idx\
          \ = low.find(open_tag)\n        if idx < 0:\n            continue\n    \
          \    close_tag = f\"</{tag}>\"\n        close_idx = low.find(close_tag,\
          \ idx)\n        if close_idx < 0:\n            # 模型只输出未闭合思考块、无 JSON → 视为空\n\
          \            return \"\"\n        text = (text[:idx] + text[close_idx +\
          \ len(close_tag) :]).strip()\n        low = text.lower()\n    return text.strip()\n\
          \n\ndef _parse_llm_json(raw: Any) -> dict:\n    if isinstance(raw, dict):\n\
          \        return raw\n    if raw is None:\n        return {}\n    text =\
          \ _strip_think(str(raw).strip())\n    if not text or text.lower() in (\"\
          null\", \"none\", \"{}\"):\n        return {}\n    if text.startswith(\"\
          ```\"):\n        lines = text.split(\"\\n\")\n        text = \"\\n\".join(lines[1:-1]\
          \ if len(lines) > 2 else lines).strip()\n    try:\n        parsed = json.loads(text)\n\
          \        return parsed if isinstance(parsed, dict) else {}\n    except json.JSONDecodeError:\n\
          \        pass\n    start = text.find(\"{\")\n    if start < 0:\n       \
          \ return {}\n    depth = 0\n    for i in range(start, len(text)):\n    \
          \    ch = text[i]\n        if ch == \"{\":\n            depth += 1\n   \
          \     elif ch == \"}\":\n            depth -= 1\n            if depth ==\
          \ 0:\n                try:\n                    parsed = json.loads(text[start\
          \ : i + 1])\n                    return parsed if isinstance(parsed, dict)\
          \ else {}\n                except json.JSONDecodeError:\n              \
          \      return {}\n    return {}\n\n\ndef _unwrap_root(parsed: dict) -> dict:\n\
          \    if not isinstance(parsed, dict):\n        return {}\n    for key in\
          \ (\n        \"structured_output\",\n        \"structuredOutput\",\n   \
          \     \"output\",\n        \"result\",\n        \"data\",\n        \"json\"\
          ,\n    ):\n        inner = parsed.get(key)\n        if isinstance(inner,\
          \ dict) and (\n            \"outline\" in inner or \"outline_summary\" in\
          \ inner or \"volumes\" in inner\n        ):\n            return inner\n\
          \        if isinstance(inner, str) and inner.strip():\n            nested\
          \ = _unwrap_root(_parse_llm_json(inner))\n            if nested:\n     \
          \           return nested\n    return parsed\n\n\ndef _normalize_volumes_doc(parsed:\
          \ dict) -> tuple[str, dict]:\n    root = _unwrap_root(parsed)\n    summary\
          \ = str(root.get(\"outline_summary\") or \"\").strip()\n    outline = root.get(\"\
          outline\")\n    if isinstance(outline, dict) and isinstance(outline.get(\"\
          volumes\"), list):\n        return summary, outline\n    if isinstance(root.get(\"\
          volumes\"), list):\n        return summary, {\"volumes\": root[\"volumes\"\
          ]}\n    return summary, {\"volumes\": []}\n\n\ndef _count_chapters(doc:\
          \ dict) -> int:\n    n = 0\n    for vol in doc.get(\"volumes\") or []:\n\
          \        if isinstance(vol, dict) and isinstance(vol.get(\"chapters\"),\
          \ list):\n            n += len(vol[\"chapters\"])\n    return n\n\n\ndef\
          \ _pick_o1_raw(kwargs: dict) -> Any:\n    \"\"\"优先选用含 chapters/beats 的一路；避免空\
          \ structured_output 覆盖有效 text。\"\"\"\n    candidates: list[Any] = []\n \
          \   for key in (\"structured_output\", \"o1_result\", \"text\", \"o1_text\"\
          ):\n        val = kwargs.get(key)\n        if val is None:\n           \
          \ continue\n        if isinstance(val, str) and val.strip().lower() in (\"\
          null\", \"none\", \"\"):\n            continue\n        candidates.append(val)\n\
          \n    best: Any = \"\"\n    for val in candidates:\n        _, doc = _normalize_volumes_doc(_parse_llm_json(val))\n\
          \        if _count_chapters(doc) > 0:\n            return val\n        if\
          \ not best and val not in ({}, []):\n            best = val\n    return\
          \ best\n\n\ndef main(**kwargs: Any) -> dict:\n    raw = _pick_o1_raw(kwargs)\n\
          \    parsed = _parse_llm_json(raw)\n    summary, doc = _normalize_volumes_doc(parsed)\n\
          \n    if _count_chapters(doc) == 0:\n        for key in (\"structured_output\"\
          , \"o1_result\", \"text\", \"o1_text\"):\n            val = kwargs.get(key)\n\
          \            if val is None or val == raw:\n                continue\n \
          \           if isinstance(val, str) and val.strip().lower() in (\"null\"\
          , \"none\", \"\"):\n                continue\n            alt_summary, alt_doc\
          \ = _normalize_volumes_doc(_parse_llm_json(val))\n            if _count_chapters(alt_doc)\
          \ > 0:\n                summary, doc = alt_summary or summary, alt_doc\n\
          \                break\n\n    return {\n        \"outline_summary\": summary,\n\
          \        \"outline_json\": json.dumps(doc, ensure_ascii=False),\n    }\n"
        code_language: python3
        outputs:
          outline_json:
            children: null
            type: string
          outline_summary:
            children: null
            type: string
        selected: false
        title: 'O1X '
        type: code
        variables:
        - value_selector:
          - '1780893511027'
          - text
          value_type: string
          variable: o1_result
        - value_selector:
          - '1780893511027'
          - structured_output
          value_type: object
          variable: structured_output
      height: 51
      id: '1780895262611'
      position:
        x: 1071.8189483940525
        y: 450.592910803961
      positionAbsolute:
        x: 1071.8189483940525
        y: 450.592910803961
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        code: "# CB · Outline Circuit Break End Output\n\nimport json\nfrom typing\
          \ import Any\n\n\ndef _as_json_str(raw: Any, fallback: str = \"{}\") ->\
          \ str:\n    if raw is None:\n        return fallback\n    if isinstance(raw,\
          \ dict):\n        return json.dumps(raw, ensure_ascii=False)\n    text =\
          \ str(raw).strip()\n    return text or fallback\n\n\ndef _to_int(value:\
          \ Any, fallback: int = 0) -> int:\n    try:\n        return int(value)\n\
          \    except (TypeError, ValueError):\n        return fallback\n\n\ndef _parse_json(raw:\
          \ Any) -> dict:\n    if isinstance(raw, dict):\n        return raw\n   \
          \ text = str(raw or \"\").strip()\n    if not text:\n        return {}\n\
          \    try:\n        parsed = json.loads(text)\n        return parsed if isinstance(parsed,\
          \ dict) else {}\n    except json.JSONDecodeError:\n        return {}\n\n\
          \ndef _extract_summary(outline_json: Any, outline_summary: str) -> str:\n\
          \    if outline_summary.strip():\n        return outline_summary.strip()\n\
          \    parsed = _parse_json(outline_json)\n    return str(parsed.get(\"outline_summary\"\
          ) or \"\").strip()\n\n\ndef main(**kwargs: Any) -> dict:\n    outline_json\
          \ = kwargs.get(\"outline_json\") or \"{}\"\n    outline_summary = _extract_summary(outline_json,\
          \ str(kwargs.get(\"outline_summary\") or \"\"))\n    retry_count = _to_int(kwargs.get(\"\
          retry_count\"), 0)\n    validation_report = kwargs.get(\"validation_report\"\
          ) or \"{}\"\n\n    end_outputs = {\n        \"status\": \"circuit_break\"\
          ,\n        \"circuit_break\": True,\n        \"human_action_required\":\
          \ True,\n        \"retry_count\": retry_count,\n        \"outline_summary\"\
          : outline_summary,\n        \"outline_json\": _as_json_str(outline_json,\
          \ \"{}\"),\n        \"validation_report\": _as_json_str(validation_report,\
          \ \"{}\"),\n        \"workflow_version\": \"novel-outline-generation-v1\"\
          ,\n    }\n    return {\"end_outputs\": json.dumps(end_outputs, ensure_ascii=False)}\n"
        code_language: python3
        outputs:
          end_outputs:
            children: null
            type: string
        selected: false
        title: CB — 熔断输出
        type: code
        variables:
        - value_selector:
          - '1780893511027'
          - text
          value_type: string
          variable: outline_json
        - value_selector:
          - '1780895262611'
          - outline_summary
          value_type: string
          variable: outline_summary
        - value_selector:
          - '1780894422374'
          - retry_count
          value_type: number
          variable: retry_count
        - value_selector:
          - '1780894422374'
          - outline_valid
          value_type: boolean
          variable: outline_valid
        - value_selector:
          - '1780894422374'
          - validation_report
          value_type: string
          variable: validation_report
      height: 51
      id: '1780895580217'
      position:
        x: 2203.093816957763
        y: 553.7879899116899
      positionAbsolute:
        x: 2203.093816957763
        y: 553.7879899116899
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        code: "# END_OK · Outline Success Assembler\n\nimport json\nimport re\nfrom\
          \ typing import Any\n\nTHINK_RE = re.compile(r\"<(?:redacted_)?think>[\\\
          s\\S]*?</(?:redacted_)?think>\", re.I)\n\n\ndef _strip_think(text: str)\
          \ -> str:\n    return THINK_RE.sub(\"\", text or \"\").strip()\n\n\ndef\
          \ _parse_json(raw: Any, fallback: dict) -> dict:\n    if raw is None:\n\
          \        return fallback\n    if isinstance(raw, dict):\n        return\
          \ raw\n    text = _strip_think(str(raw).strip())\n    if not text:\n   \
          \     return fallback\n    if text.startswith(\"```\"):\n        lines =\
          \ text.split(\"\\n\")\n        text = \"\\n\".join(lines[1:-1] if len(lines)\
          \ > 2 else lines).strip()\n    try:\n        parsed = json.loads(text)\n\
          \        return parsed if isinstance(parsed, dict) else fallback\n    except\
          \ json.JSONDecodeError:\n        return fallback\n\n\ndef _normalize_outline_doc(raw:\
          \ Any) -> tuple[str, dict]:\n    parsed = _parse_json(raw, {})\n    summary\
          \ = str(parsed.get(\"outline_summary\") or \"\").strip()\n    outline =\
          \ parsed.get(\"outline\")\n    if isinstance(outline, dict) and isinstance(outline.get(\"\
          volumes\"), list):\n        return summary, outline\n    if isinstance(parsed.get(\"\
          volumes\"), list):\n        return summary, {\"volumes\": parsed[\"volumes\"\
          ]}\n    return summary, {\"volumes\": []}\n\n\ndef _to_int(value: Any, fallback:\
          \ int = 0) -> int:\n    try:\n        return int(value)\n    except (TypeError,\
          \ ValueError):\n        return fallback\n\n\ndef main(**kwargs: Any) ->\
          \ dict:\n    outline_summary = str(kwargs.get(\"outline_summary\") or \"\
          \").strip()\n    outline_json = kwargs.get(\"outline_json\") or \"{}\"\n\
          \    validation_report = kwargs.get(\"validation_report\") or \"{}\"\n \
          \   retry_count = _to_int(kwargs.get(\"retry_count\"), 0)\n\n    extracted_summary,\
          \ outline_doc = _normalize_outline_doc(outline_json)\n    if not outline_summary:\n\
          \        outline_summary = extracted_summary\n\n    report = _parse_json(validation_report,\
          \ {})\n    end_outputs = {\n        \"status\": \"success\",\n        \"\
          circuit_break\": False,\n        \"human_action_required\": False,\n   \
          \     \"retry_count\": retry_count,\n        \"outline_summary\": outline_summary,\n\
          \        \"outline_json\": json.dumps(outline_doc, ensure_ascii=False),\n\
          \        \"validation_report\": report,\n        \"workflow_version\": \"\
          novel-outline-generation-v1\",\n    }\n    return {\"end_outputs\": json.dumps(end_outputs,\
          \ ensure_ascii=False)}\n"
        code_language: python3
        outputs:
          end_outputs:
            children: null
            type: string
        selected: false
        title: 'END_OK '
        type: code
        variables:
        - value_selector:
          - '1780895262611'
          - outline_summary
          value_type: string
          variable: outline_summary
        - value_selector:
          - '1780893511027'
          - text
          value_type: string
          variable: outline_json
        - value_selector:
          - '1780894422374'
          - validation_report
          value_type: string
          variable: validation_report
        - value_selector:
          - '1780891111310'
          - retry_count
          value_type: string
          variable: retry_count
      height: 51
      id: '1780895819821'
      position:
        x: 2203.093816957763
        y: 643.7879899116899
      positionAbsolute:
        x: 2203.093816957763
        y: 643.7879899116899
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        code: "# PARSE · Outline End Outputs Flattener\n#\n# === Dify 输入（均可选，默认空串）===\n\
          #   re_end_outputs  ← RE.end_outputs\n#   cb_end_outputs  ← CB.end_outputs\n\
          #   ok_end_outputs  ← END_OK.end_outputs\n#\n# === Dify 输出（类型须与画布一致）===\n\
          #   status, circuit_break, human_action_required, outline_summary,\n#  \
          \ outline_json, validation_report, retry_issues_formatted,\n#   workflow_version\
          \ → String\n#   retry_count → Number\n#\n# 勿使用 Dify 默认模板 def main(arg1,\
          \ arg2) — 必须整文件替换为本脚本。\n\nimport json\nfrom typing import Any\n\n\ndef _pick_raw(*candidates:\
          \ Any) -> str:\n    for c in candidates:\n        if c is None:\n      \
          \      continue\n        if isinstance(c, dict):\n            return json.dumps(c,\
          \ ensure_ascii=False)\n        text = str(c).strip()\n        if text and\
          \ text not in (\"None\", \"null\"):\n            return text\n    return\
          \ \"\"\n\n\ndef _as_bool_str(value: Any) -> str:\n    if isinstance(value,\
          \ bool):\n        return \"true\" if value else \"false\"\n    if isinstance(value,\
          \ str):\n        return \"true\" if value.strip().lower() in (\"true\",\
          \ \"1\", \"yes\") else \"false\"\n    return \"true\" if value else \"false\"\
          \n\n\ndef _to_int(value: Any, fallback: int = 0) -> int:\n    try:\n   \
          \     return int(value)\n    except (TypeError, ValueError):\n        return\
          \ fallback\n\n\ndef main(**kwargs: Any) -> dict:\n    raw = _pick_raw(\n\
          \        kwargs.get(\"re_end_outputs\"),\n        kwargs.get(\"cb_end_outputs\"\
          ),\n        kwargs.get(\"ok_end_outputs\"),\n        kwargs.get(\"end_outputs\"\
          ),\n    )\n    o = json.loads(raw) if raw else {}\n    report = o.get(\"\
          validation_report\") or {}\n    if isinstance(report, str):\n        try:\n\
          \            report = json.loads(report)\n        except json.JSONDecodeError:\n\
          \            report = {}\n\n    outline_json = o.get(\"outline_json\") or\
          \ \"{}\"\n    if isinstance(outline_json, dict):\n        outline_json =\
          \ json.dumps(outline_json, ensure_ascii=False)\n\n    return {\n       \
          \ \"status\": str(o.get(\"status\") or \"\"),\n        \"circuit_break\"\
          : _as_bool_str(o.get(\"circuit_break\", False)),\n        \"human_action_required\"\
          : _as_bool_str(o.get(\"human_action_required\", False)),\n        \"retry_count\"\
          : _to_int(o.get(\"retry_count\"), 0),\n        \"outline_summary\": str(o.get(\"\
          outline_summary\") or \"\"),\n        \"outline_json\": str(outline_json),\n\
          \        \"validation_report\": json.dumps(report, ensure_ascii=False),\n\
          \        \"retry_issues_formatted\": str(o.get(\"retry_issues_formatted\"\
          ) or \"\"),\n        \"workflow_version\": str(o.get(\"workflow_version\"\
          ) or \"\"),\n    }\n"
        code_language: python3
        outputs:
          circuit_break:
            children: null
            type: string
          human_action_required:
            children: null
            type: string
          outline_json:
            children: null
            type: string
          outline_summary:
            children: null
            type: string
          retry_count:
            children: null
            type: number
          retry_issues_formatted:
            children: null
            type: string
          status:
            children: null
            type: string
          validation_report:
            children: null
            type: string
          workflow_version:
            children: null
            type: string
        selected: false
        title: PARSE — end_outputs 扁平化
        type: code
        variables:
        - value_selector:
          - '1780894667739'
          - end_outputs
          value_type: string
          variable: re_end_outputs
        - value_selector:
          - '1780895580217'
          - end_outputs
          value_type: string
          variable: cb_end_outputs
        - value_selector:
          - '1780895819821'
          - end_outputs
          value_type: string
          variable: ok_end_outputs
      height: 51
      id: '1780896063529'
      position:
        x: 2623.4459620329512
        y: 574.658248286123
      positionAbsolute:
        x: 2623.4459620329512
        y: 574.658248286123
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        outputs:
        - value_selector:
          - '1780896063529'
          - status
          value_type: string
          variable: status
        - value_selector:
          - '1780896063529'
          - circuit_break
          value_type: string
          variable: circuit_break
        - value_selector:
          - '1780896063529'
          - human_action_required
          value_type: string
          variable: human_action_required
        - value_selector:
          - '1780896063529'
          - retry_count
          value_type: number
          variable: retry_count
        - value_selector:
          - '1780896063529'
          - outline_summary
          value_type: string
          variable: outline_summary
        - value_selector:
          - '1780896063529'
          - outline_json
          value_type: string
          variable: outline_json
        - value_selector:
          - '1780896063529'
          - validation_report
          value_type: string
          variable: validation_report
        - value_selector:
          - '1780896063529'
          - retry_issues_formatted
          value_type: string
          variable: retry_issues_formatted
        - value_selector:
          - '1780896063529'
          - workflow_version
          value_type: string
          variable: workflow_version
        selected: false
        title: 输出
        type: end
      height: 295
      id: '1780896230175'
      position:
        x: 2924.4459620329512
        y: 574.658248286123
      positionAbsolute:
        x: 2924.4459620329512
        y: 574.658248286123
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    viewport:
      x: 52.689098587682906
      y: 91.8531948576483
      zoom: 0.3789291416275998
  rag_pipeline_variables: []
