deploy/dify/workflows/novel-knowledge-generation-v1.yml
app:
  description: ''
  icon: palm_down_hand
  icon_background: '#FFEAD5'
  icon_type: emoji
  mode: workflow
  name: Novel Knowledge Generation v1
  use_icon_as_answer_icon: false
dependencies:
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/deepseek:0.0.17@f7a5c1d222d17ee419b17a80d6e4923838fe93788dc724a3af73fbc6990b3a32
    version: null
kind: app
version: 0.6.0
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        attachment_image_file_size_limit: 2
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        file_upload_limit: 20
        image_file_batch_limit: 10
        image_file_size_limit: 10
        single_chunk_attachment_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: start
        targetType: llm
      id: 1781060206131-source-1781060325260-target
      source: '1781060206131'
      sourceHandle: source
      target: '1781060325260'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: code
      id: 1781060325260-source-1781060530938-target
      source: '1781060325260'
      sourceHandle: source
      target: '1781060530938'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: code
        targetType: llm
      id: 1781060530938-source-1781060939134-target
      source: '1781060530938'
      sourceHandle: source
      target: '1781060939134'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: code
      id: 1781060939134-source-1781061436838-target
      source: '1781060939134'
      sourceHandle: source
      target: '1781061436838'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: code
        targetType: if-else
      id: 1781061436838-source-1781061638801-target
      source: '1781061436838'
      sourceHandle: source
      target: '1781061638801'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: if-else
        targetType: code
      id: 1781061638801-true-1781061769454-target
      source: '1781061638801'
      sourceHandle: 'true'
      target: '1781061769454'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: if-else
        targetType: code
      id: 1781061638801-27b9b7c8-b46e-485a-aac7-f2995cc8cf44-1781062103493-target
      source: '1781061638801'
      sourceHandle: 27b9b7c8-b46e-485a-aac7-f2995cc8cf44
      target: '1781062103493'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: if-else
        targetType: code
      id: 1781061638801-1fc01c38-ffeb-4acc-bff5-028cb7e6e0ad-1781062214354-target
      source: '1781061638801'
      sourceHandle: 1fc01c38-ffeb-4acc-bff5-028cb7e6e0ad
      target: '1781062214354'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: code
        targetType: code
      id: 1781061769454-source-1781062334200-target
      source: '1781061769454'
      sourceHandle: source
      target: '1781062334200'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: code
        targetType: code
      id: 1781062103493-source-1781062334200-target
      source: '1781062103493'
      sourceHandle: source
      target: '1781062334200'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: code
        targetType: code
      id: 1781062214354-source-1781062334200-target
      source: '1781062214354'
      sourceHandle: source
      target: '1781062334200'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: code
        targetType: end
      id: 1781062334200-source-1781062459128-target
      source: '1781062334200'
      sourceHandle: source
      target: '1781062459128'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        selected: false
        title: 用户输入
        type: start
        variables:
        - default: ''
          hint: ''
          label: project_id
          options: []
          placeholder: ''
          required: true
          type: text-input
          variable: project_id
        - default: ''
          hint: ''
          label: knowledge_brief
          options: []
          placeholder: ''
          required: true
          type: text-input
          variable: knowledge_brief
        - default: ''
          hint: ''
          label: existing_knowledge_snapshot
          options: []
          placeholder: ''
          required: true
          type: text-input
          variable: existing_knowledge_snapshot
        - default: ''
          hint: ''
          label: genre
          options: []
          placeholder: ''
          required: false
          type: text-input
          variable: genre
        - default: ''
          hint: ''
          label: tone
          options: []
          placeholder: ''
          required: false
          type: text-input
          variable: tone
        - default: ''
          hint: ''
          label: era
          options: []
          placeholder: ''
          required: false
          type: text-input
          variable: era
        - default: ''
          hint: ''
          label: scene
          options: []
          placeholder: ''
          required: false
          type: text-input
          variable: scene
        - default: ''
          hint: ''
          label: generation_mode
          options: []
          placeholder: ''
          required: true
          type: text-input
          variable: generation_mode
        - default: ''
          hint: ''
          label: max_retry
          max_length: 3
          options: []
          placeholder: ''
          required: true
          type: number
          variable: max_retry
        - default: '0'
          hint: ''
          label: retry_count
          options: []
          placeholder: ''
          required: false
          type: number
          variable: retry_count
        - default: ''
          hint: ''
          label: retry_issues_formatted
          options: []
          placeholder: ''
          required: false
          type: text-input
          variable: retry_issues_formatted
      height: 368
      id: '1781060206131'
      position:
        x: 80
        y: 282
      positionAbsolute:
        x: 80
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: false
          variable_selector: []
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: deepseek-v4-pro
          provider: langgenius/deepseek/deepseek
        prompt_config:
          jinja2_variables:
          - value_selector:
            - '1781060206131'
            - retry_issues_formatted
            variable: retry_issues_formatted
          - value_selector:
            - '1781060206131'
            - knowledge_brief
            variable: knowledge_brief
          - value_selector:
            - '1781060206131'
            - existing_knowledge_snapshot
            variable: existing_knowledge_snapshot
          - value_selector:
            - '1781060206131'
            - generation_mode
            variable: generation_mode
          - value_selector:
            - '1781060206131'
            - genre
            variable: genre
          - value_selector:
            - '1781060206131'
            - tone
            variable: tone
          - value_selector:
            - '1781060206131'
            - era
            variable: era
          - value_selector:
            - '1781060206131'
            - scene
            variable: scene
        prompt_template:
        - id: 7bc7c835-5edc-4e28-92ee-a3608130e33a
          role: system
          text: '你是一位资深世界观架构师（World Bible Architect）兼设定编辑，专责长篇小说项目的知识库文档撰写。你只输出结构化设定，不写正文、不写章节大纲、不写地图坐标。

            职责边界

            只生成 world、characters[]、factions[]、items[] 四类内容；

            禁止输出 map、locations、nations、regions（地图与社会层由客户端 WorldEngine / 社会层工作流负责）；

            所有实体须可在大纲/章节中直接引用，命名稳定、id 唯一；

            world.rules 须写清力量体系、科技水平、叙事禁忌与冲突主轴（≥80 字）。

            模式

            generation_mode=bootstrap：在 brief 约束下从零搭建知识库骨架；

            generation_mode=expand：在 existing_knowledge_snapshot 基础上增量扩写，保留已有 id/姓名，只补缺失项或深化字段；禁止覆盖或删除已有角色/势力。

            修订（retry）

            若 User 含 retry_issues_formatted，须逐条消除 hard issue，不得重复相同违规；

            修订时保持与 snapshot 中已有实体 id 一致。

            输出纪律

            必须且只能输出符合 JSON Schema 的单个 JSON 对象；

            顶层字段：knowledge_summary + knowledge（内含 world/characters/factions/items）；

            禁止 Markdown 代码围栏、解释性前言、后记；

            角色 id 格式 char-001…，势力 faction-001…，道具 item-001…；

            characters 至少 3 名具名角色（含 brief 指定主角）；factions ≥1；items ≥1。

            一致性

            须严格遵循 brief 中的题材、时代、力量约束与实体白名单；

            禁止擅自引入 brief / snapshot 未允许的修仙、系统、穿越、现代商战等题材（除非 world.rules 明确允许）；

            角色性格、势力目标须与 world.conflictFocus 和 brief 一致，不得自相矛盾。

            '
        - edition_type: jinja2
          id: f90028af-5f3d-46e8-9e0f-7075020fec82
          jinja2_text: "{% if retry_issues_formatted %}\r\n\r\n编辑驳回（最高优先级 · 须逐条修复）\r\
            \n\r\n以下 hard issue 必须在本次 JSON 中全部消除；不得再引入相同违规设定。\r\n\r\n{{ retry_issues_formatted\
            \ }}\r\n\r\n{% endif %}\r\n\r\n创作 Brief（必填）\r\n\r\n{{ knowledge_brief\
            \ }}\r\n\r\n已有知识库快照\r\n\r\n{% if existing_knowledge_snapshot %}\r\n\r\n\
            {{ existing_knowledge_snapshot }}\r\n\r\n{% else %}\r\n\r\n{}\r\n\r\n\
            {% endif %}\r\n\r\n生成模式\r\n\r\n\r\n\r\n\r\n\r\ngeneration_mode：{{ generation_mode\
            \ }}\r\n{% if generation_mode == 'expand' %}\r\n\r\n\r\n\r\nexpand 模式：保留\
            \ snapshot 中已有 id 与姓名，只补充/深化缺失字段；禁止删除或重命名已有实体。\r\n{% else %}\r\n\r\n\r\
            \n\r\nbootstrap 模式：在 brief 约束下从零搭建；若 snapshot 非空，与之冲突的字段以 brief 为准。\r\n\
            {% endif %}\r\n\r\n世界观标签\r\n\r\n\r\n\r\n\r\n\r\n类型：{{ genre }}\r\n\r\n\
            \r\n\r\n基调：{{ tone }}\r\n\r\n\r\n\r\n时代：{{ era }}\r\n\r\n\r\n\r\n场景：{{\
            \ scene }}\r\n\r\n输出要求\r\n\r\n\r\n\r\n\r\n\r\nknowledge_summary：150–400\
            \ 字，概括世界格局、核心冲突与主角处境。\r\n\r\n\r\n\r\nknowledge.world：含 title、rules（≥80\
            \ 字硬性设定），可填 genre/era/atmosphere/techLevel/magicConstraint/conflictFocus\
            \ 等。\r\n\r\n\r\n\r\nknowledge.characters：至少 3 名，每人含 id/name/role；主角须出现在\
            \ brief 指定姓名。\r\n\r\n\r\n\r\nknowledge.factions：至少 1 个秘密或公开势力，含 goals。\r\
            \n\r\n\r\n\r\nknowledge.items：至少 1 件关键道具。\r\n\r\n\r\n\r\n不要输出 map/locations/nations。\r\
            \n\r\n请直接输出符合 Schema 的 JSON。"
          role: user
          text: ''
        selected: false
        structured_output:
          schema:
            $id: novelscreator.knowledge.k1.output
            $schema: https://json-schema.org/draft/2020-12/schema
            additionalProperties: false
            properties:
              knowledge:
                additionalProperties: false
                properties:
                  characters:
                    items:
                      additionalProperties: true
                      properties:
                        appearance:
                          type: string
                        id:
                          pattern: ^char-\d{3}$
                          type: string
                        name:
                          minLength: 1
                          type: string
                        notes:
                          type: string
                        personality:
                          type: string
                        role:
                          minLength: 2
                          type: string
                        traits:
                          items:
                            type: string
                          type: array
                      required:
                      - id
                      - name
                      - role
                      type: object
                    maxItems: 12
                    minItems: 3
                    type: array
                  factions:
                    items:
                      additionalProperties: true
                      properties:
                        description:
                          minLength: 20
                          type: string
                        goals:
                          type: string
                        id:
                          pattern: ^faction-\d{3}$
                          type: string
                        name:
                          minLength: 1
                          type: string
                      required:
                      - id
                      - name
                      - description
                      type: object
                    maxItems: 8
                    minItems: 1
                    type: array
                  items:
                    items:
                      additionalProperties: true
                      properties:
                        description:
                          minLength: 10
                          type: string
                        id:
                          pattern: ^item-\d{3}$
                          type: string
                        name:
                          minLength: 1
                          type: string
                      required:
                      - id
                      - name
                      - description
                      type: object
                    maxItems: 10
                    minItems: 1
                    type: array
                  world:
                    additionalProperties: true
                    properties:
                      atmosphere:
                        type: string
                      conflictFocus:
                        type: string
                      contentTaboos:
                        type: string
                      economicBase:
                        type: string
                      era:
                        type: string
                      genre:
                        type: string
                      magicConstraint:
                        type: string
                      narrativeStyle:
                        type: string
                      politicalTone:
                        type: string
                      rules:
                        minLength: 80
                        type: string
                      scene:
                        type: string
                      settingConstraints:
                        type: string
                      socialStructure:
                        type: string
                      techLevel:
                        type: string
                      title:
                        minLength: 1
                        type: string
                      warfareStyle:
                        type: string
                    required:
                    - title
                    - rules
                    type: object
                required:
                - world
                - characters
                - factions
                - items
                type: object
              knowledge_summary:
                description: 150–400 字世界观与核心冲突摘要
                minLength: 50
                type: string
            required:
            - knowledge_summary
            - knowledge
            type: object
        structured_output_enabled: true
        title: K1
        type: llm
        vision:
          enabled: false
      height: 87
      id: '1781060325260'
      position:
        x: 382
        y: 282
      positionAbsolute:
        x: 382
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        code: "# K1X · 解析 K1 LLM 输出 → knowledge_summary + knowledge_json\n#\n# ===\
          \ Dify 输入 ===\n#   k1_result         ← K1.text（必填其一）\n#   structured_output\
          \ ← K1.structured_output\n#\n# === Dify 输出 ===\n#   knowledge_summary →\
          \ String\n#   knowledge_json    → String  （仅 { world, characters, factions,\
          \ items }）\n\nimport json\nimport re\nfrom typing import Any\n\nTHINK_RE\
          \ = re.compile(\n    r\"<(?:redacted_)?think(?:ing)?>[\\s\\S]*?</(?:redacted_)?think(?:ing)?>\"\
          ,\n    re.I,\n)\n\n\ndef _strip_think(text: str) -> str:\n    return THINK_RE.sub(\"\
          \", text or \"\").strip()\n\n\ndef _parse_llm_json(raw: Any) -> dict:\n\
          \    if isinstance(raw, dict):\n        return raw\n    if raw is None:\n\
          \        return {}\n    text = _strip_think(str(raw).strip())\n    if not\
          \ text or text.lower() in (\"null\", \"none\", \"{}\"):\n        return\
          \ {}\n    if text.startswith(\"```\"):\n        lines = text.split(\"\\\
          n\")\n        text = \"\\n\".join(lines[1:-1] if len(lines) > 2 else lines).strip()\n\
          \    try:\n        parsed = json.loads(text)\n        return parsed if isinstance(parsed,\
          \ dict) else {}\n    except json.JSONDecodeError:\n        pass\n    start\
          \ = text.find(\"{\")\n    if start < 0:\n        return {}\n    depth =\
          \ 0\n    for i in range(start, len(text)):\n        ch = text[i]\n     \
          \   if ch == \"{\":\n            depth += 1\n        elif ch == \"}\":\n\
          \            depth -= 1\n            if depth == 0:\n                try:\n\
          \                    parsed = json.loads(text[start : i + 1])\n        \
          \            return parsed if isinstance(parsed, dict) else {}\n       \
          \         except json.JSONDecodeError:\n                    return {}\n\
          \    return {}\n\n\ndef _unwrap_root(parsed: dict) -> dict:\n    if not\
          \ isinstance(parsed, dict):\n        return {}\n    for key in (\"structured_output\"\
          , \"structuredOutput\", \"output\", \"result\", \"data\", \"json\"):\n \
          \       inner = parsed.get(key)\n        if isinstance(inner, dict):\n \
          \           return inner\n        if isinstance(inner, str) and inner.strip():\n\
          \            nested = _unwrap_root(_parse_llm_json(inner))\n           \
          \ if nested:\n                return nested\n    if isinstance(parsed.get(\"\
          knowledge\"), dict):\n        return parsed\n    return parsed\n\n\ndef\
          \ _normalize_knowledge_doc(parsed: dict) -> tuple[str, dict]:\n    root\
          \ = _unwrap_root(parsed)\n    summary = str(root.get(\"knowledge_summary\"\
          ) or \"\").strip()\n    knowledge = root.get(\"knowledge\")\n    if isinstance(knowledge,\
          \ dict):\n        doc = {\n            \"world\": knowledge.get(\"world\"\
          ) if isinstance(knowledge.get(\"world\"), dict) else {},\n            \"\
          characters\": knowledge.get(\"characters\") if isinstance(knowledge.get(\"\
          characters\"), list) else [],\n            \"factions\": knowledge.get(\"\
          factions\") if isinstance(knowledge.get(\"factions\"), list) else [],\n\
          \            \"items\": knowledge.get(\"items\") if isinstance(knowledge.get(\"\
          items\"), list) else [],\n        }\n        return summary, doc\n    doc\
          \ = {\n        \"world\": root.get(\"world\") if isinstance(root.get(\"\
          world\"), dict) else {},\n        \"characters\": root.get(\"characters\"\
          ) if isinstance(root.get(\"characters\"), list) else [],\n        \"factions\"\
          : root.get(\"factions\") if isinstance(root.get(\"factions\"), list) else\
          \ [],\n        \"items\": root.get(\"items\") if isinstance(root.get(\"\
          items\"), list) else [],\n    }\n    return summary, doc\n\n\ndef _count_named_characters(doc:\
          \ dict) -> int:\n    n = 0\n    for c in doc.get(\"characters\") or []:\n\
          \        if isinstance(c, dict) and str(c.get(\"name\") or \"\").strip():\n\
          \            n += 1\n    return n\n\n\ndef _pick_k1_raw(kwargs: dict) ->\
          \ Any:\n    candidates: list[Any] = []\n    for key in (\"structured_output\"\
          , \"k1_result\", \"text\", \"k1_text\"):\n        val = kwargs.get(key)\n\
          \        if val is None:\n            continue\n        if isinstance(val,\
          \ str) and val.strip().lower() in (\"null\", \"none\", \"\"):\n        \
          \    continue\n        candidates.append(val)\n    best: Any = \"\"\n  \
          \  for val in candidates:\n        _, doc = _normalize_knowledge_doc(_parse_llm_json(val))\n\
          \        if _count_named_characters(doc) > 0:\n            return val\n\
          \        if not best and val not in ({}, []):\n            best = val\n\
          \    return best\n\n\ndef main(**kwargs: Any) -> dict:\n    raw = _pick_k1_raw(kwargs)\n\
          \    parsed = _parse_llm_json(raw)\n    summary, doc = _normalize_knowledge_doc(parsed)\n\
          \n    if _count_named_characters(doc) == 0:\n        for key in (\"structured_output\"\
          , \"k1_result\", \"text\", \"k1_text\"):\n            val = kwargs.get(key)\n\
          \            if val is None or val == raw:\n                continue\n \
          \           alt_summary, alt_doc = _normalize_knowledge_doc(_parse_llm_json(val))\n\
          \            if _count_named_characters(alt_doc) > 0:\n                summary,\
          \ doc = alt_summary or summary, alt_doc\n                break\n\n    return\
          \ {\n        \"knowledge_summary\": summary,\n        \"knowledge_json\"\
          : json.dumps(doc, ensure_ascii=False),\n    }\n"
        code_language: python3
        outputs:
          knowledge_json:
            children: null
            type: string
          knowledge_summary:
            children: null
            type: string
        selected: false
        title: K1X — K1 解析 Code
        type: code
        variables:
        - value_selector:
          - '1781060325260'
          - text
          value_type: string
          variable: k1_result
        - value_selector:
          - '1781060325260'
          - structured_output
          value_type: object
          variable: structured_output
      height: 51
      id: '1781060530938'
      position:
        x: 683
        y: 282
      positionAbsolute:
        x: 683
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        context:
          enabled: false
          variable_selector: []
        model:
          completion_params:
            temperature: 0.2
          mode: chat
          name: deepseek-v4-pro
          provider: langgenius/deepseek/deepseek
        prompt_config:
          jinja2_variables:
          - value_selector:
            - '1781060530938'
            - knowledge_summary
            variable: knowledge_summary
          - value_selector:
            - '1781060530938'
            - knowledge_json
            variable: knowledge_json
          - value_selector:
            - '1781060206131'
            - knowledge_brief
            variable: knowledge_brief
          - value_selector:
            - '1781060206131'
            - existing_knowledge_snapshot
            variable: existing_knowledge_snapshot
          - value_selector:
            - '1781060206131'
            - generation_mode
            variable: generation_mode
          - value_selector:
            - '1781060206131'
            - genre
            variable: genre
          - value_selector:
            - '1781060206131'
            - tone
            variable: tone
          - value_selector:
            - '1781060206131'
            - era
            variable: era
          - value_selector:
            - '1781060206131'
            - scene
            variable: scene
        prompt_template:
        - id: 53659d23-95e9-464e-adf0-c23f83fa0a2a
          role: system
          text: '你是一位资深设定审读编辑（Lore Continuity Editor），专责知识库 JSON 的结构完整性、brief 一致性与内部逻辑审计。你不评价文笔，只审「能否支撑后续大纲/章节生成」。

            审读立场

            以 User 提供的 knowledge_json（K1X 输出）与 knowledge_brief、existing_knowledge_snapshot
            为首要依据；

            第一步：解析 knowledge_json。若 world.rules 过短（<80 字）、characters 无具名角色、或缺少 factions/items，则
            knowledge_valid=false，仅输出 1 条 hard issue（说明结构缺失），禁止此时做细粒度 lore 审计；

            仅当结构完整时，才允许比对 brief 白名单、力量约束与 snapshot 一致性；

            所有 issue 须可定位（world / char-xxx / faction-xxx / item-xxx）且可执行。

            expand 模式

            generation_mode=expand 时，snapshot 中已有实体不得被删除或改名；若 K1 输出覆盖了已有 id 的姓名，判
            hard fail。

            输出纪律

            必须且只能输出符合 JSON Schema 的单个 JSON 对象；

            禁止 Markdown 代码围栏、解释性前言、后记；

            存在任一 Hard Fail 时 knowledge_valid = false，且 knowledge_issues 至少 1 条；

            Hard issue 的 severity 必须为 hard；可接受的小瑕疵用 warn（warn 不单独导致 fail）。

            评分

            structure_score：字段完整度、id 格式、数组数量；

            lore_consistency_score：与 brief/snapshot/world.rules 一致程度；

            character_coverage_ok：brief 要求的主角与核心配角是否齐全。

            '
        - edition_type: jinja2
          id: f2d06644-4c4c-47e0-abc2-14ea570ec594
          jinja2_text: "待校验知识库（K1X 输出）\r\n\r\nknowledge_summary\r\n\r\n{{ knowledge_summary\
            \ }}\r\n\r\nknowledge_json\r\n\r\n{{ knowledge_json }}\r\n\r\n创作 Brief\r\
            \n\r\n{{ knowledge_brief }}\r\n\r\n已有快照（expand 模式须比对）\r\n\r\n{{ existing_knowledge_snapshot\
            \ }}\r\n\r\n模式与标签\r\n\r\n\r\n\r\n\r\n\r\ngeneration_mode：{{ generation_mode\
            \ }}\r\n\r\n\r\n\r\ngenre：{{ genre }}\r\n\r\n\r\n\r\ntone：{{ tone }}\r\
            \n\r\n\r\n\r\nera：{{ era }}\r\n\r\n\r\n\r\nscene：{{ scene }}\r\n\r\n请审读上述\
            \ JSON，输出校验结果 JSON（符合 Schema）。"
          role: user
          text: ''
        selected: false
        structured_output:
          schema:
            $id: novelscreator.knowledge.k2.output
            $schema: https://json-schema.org/draft/2020-12/schema
            additionalProperties: false
            properties:
              character_coverage_ok:
                type: boolean
              knowledge_issues:
                items:
                  additionalProperties: false
                  properties:
                    location:
                      type: string
                    message:
                      minLength: 8
                      type: string
                    severity:
                      enum:
                      - hard
                      - warn
                      type: string
                  required:
                  - severity
                  - location
                  - message
                  type: object
                type: array
              knowledge_valid:
                type: boolean
              lore_consistency_score:
                maximum: 100
                minimum: 0
                type: integer
              structure_score:
                maximum: 100
                minimum: 0
                type: integer
            required:
            - knowledge_valid
            - knowledge_issues
            - structure_score
            - lore_consistency_score
            - character_coverage_ok
            type: object
        structured_output_enabled: true
        title: k2
        type: llm
        vision:
          enabled: false
      height: 87
      id: '1781060939134'
      position:
        x: 984
        y: 282
      positionAbsolute:
        x: 984
        y: 282
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        code: "# AGG · Knowledge Validation Aggregate + Route\n#\n# 输入: validate_result,\
          \ retry_count, max_retry, knowledge_json\n# 输出: route, retry_count, retry_issues_formatted,\
          \ knowledge_valid, validation_report, knowledge_json\n\nimport json\nimport\
          \ re\nfrom typing import Any\n\nTHINK_RE = re.compile(\n    r\"<(?:redacted_)?think(?:ing)?>[\\\
          s\\S]*?</(?:redacted_)?think(?:ing)?>\",\n    re.I,\n)\n\n\ndef _strip_think(text:\
          \ str) -> str:\n    return THINK_RE.sub(\"\", text or \"\").strip()\n\n\n\
          def _parse_llm_json(raw: Any) -> dict:\n    if isinstance(raw, dict):\n\
          \        return raw\n    if raw is None:\n        return {}\n    text =\
          \ _strip_think(str(raw).strip())\n    if not text or text.lower() in (\"\
          null\", \"none\"):\n        return {}\n    if text.startswith(\"```\"):\n\
          \        lines = text.split(\"\\n\")\n        text = \"\\n\".join(lines[1:-1]\
          \ if len(lines) > 2 else lines).strip()\n    try:\n        parsed = json.loads(text)\n\
          \        return parsed if isinstance(parsed, dict) else {}\n    except json.JSONDecodeError:\n\
          \        pass\n    start = text.find(\"{\")\n    end = text.rfind(\"}\"\
          )\n    if start >= 0 and end > start:\n        try:\n            parsed\
          \ = json.loads(text[start : end + 1])\n            return parsed if isinstance(parsed,\
          \ dict) else {}\n        except json.JSONDecodeError:\n            pass\n\
          \    return {}\n\n\ndef _to_int(value: Any, fallback: int = 0) -> int:\n\
          \    try:\n        return int(value)\n    except (TypeError, ValueError):\n\
          \        return fallback\n\n\ndef _as_bool(value: Any) -> bool:\n    if\
          \ isinstance(value, bool):\n        return value\n    if isinstance(value,\
          \ str):\n        return value.strip().lower() in (\"true\", \"1\", \"yes\"\
          )\n    if isinstance(value, (int, float)):\n        return value != 0\n\
          \    return bool(value)\n\n\ndef _normalize_knowledge_json(raw: Any) ->\
          \ str:\n    if raw is None:\n        return \"{}\"\n    if isinstance(raw,\
          \ dict):\n        return json.dumps(raw, ensure_ascii=False)\n    text =\
          \ str(raw).strip()\n    if not text or text.lower() in (\"null\", \"none\"\
          ):\n        return \"{}\"\n    try:\n        parsed = json.loads(text)\n\
          \        if isinstance(parsed, dict):\n            return json.dumps(parsed,\
          \ ensure_ascii=False)\n    except json.JSONDecodeError:\n        pass\n\
          \    parsed = _parse_llm_json(text)\n    if isinstance(parsed.get(\"knowledge\"\
          ), dict):\n        k = parsed[\"knowledge\"]\n        return json.dumps(\n\
          \            {\n                \"world\": k.get(\"world\") or {},\n   \
          \             \"characters\": k.get(\"characters\") or [],\n           \
          \     \"factions\": k.get(\"factions\") or [],\n                \"items\"\
          : k.get(\"items\") or [],\n            },\n            ensure_ascii=False,\n\
          \        )\n    return json.dumps(\n        {\n            \"world\": parsed.get(\"\
          world\") or {},\n            \"characters\": parsed.get(\"characters\")\
          \ or [],\n            \"factions\": parsed.get(\"factions\") or [],\n  \
          \          \"items\": parsed.get(\"items\") or [],\n        },\n       \
          \ ensure_ascii=False,\n    )\n\n\ndef _structure_ok(knowledge_json: str)\
          \ -> bool:\n    try:\n        doc = json.loads(knowledge_json)\n    except\
          \ json.JSONDecodeError:\n        return False\n    if not isinstance(doc,\
          \ dict):\n        return False\n    world = doc.get(\"world\") if isinstance(doc.get(\"\
          world\"), dict) else {}\n    title = str(world.get(\"title\") or \"\").strip()\n\
          \    rules = str(world.get(\"rules\") or \"\").strip()\n    if not title\
          \ and len(rules) < 20:\n        return False\n    named = 0\n    for c in\
          \ doc.get(\"characters\") or []:\n        if isinstance(c, dict) and str(c.get(\"\
          name\") or \"\").strip():\n            named += 1\n    return named >= 1\n\
          \n\ndef _empty_outputs(retry_count: int = 0, knowledge_json: str = \"{}\"\
          ) -> dict:\n    return {\n        \"route\": \"retry\",\n        \"retry_count\"\
          : retry_count,\n        \"retry_issues_formatted\": \"- [hard] global: K2\
          \ 未返回有效校验 JSON\",\n        \"knowledge_valid\": False,\n        \"validation_report\"\
          : \"{}\",\n        \"knowledge_json\": knowledge_json,\n    }\n\n\ndef _k1x_empty_outputs(retry_count:\
          \ int, max_retry: int, knowledge_json: str) -> dict:\n    issue = (\n  \
          \      \"- [hard] global: K1X knowledge_json 无有效 world/characters。\"\n \
          \       \"请检查 K1 Structured Output 与 K1X 绑定。\"\n    )\n    new_retry = retry_count\
          \ + 1 if retry_count < max_retry else retry_count\n    route = \"retry\"\
          \ if retry_count < max_retry else \"circuit_break\"\n    report = {\n  \
          \      \"knowledge_valid\": False,\n        \"knowledge_issues\": [\n  \
          \          {\"severity\": \"hard\", \"location\": \"global\", \"message\"\
          : issue}\n        ],\n    }\n    return {\n        \"route\": route,\n \
          \       \"retry_count\": int(new_retry),\n        \"retry_issues_formatted\"\
          : issue,\n        \"knowledge_valid\": False,\n        \"validation_report\"\
          : json.dumps(report, ensure_ascii=False),\n        \"knowledge_json\": knowledge_json,\n\
          \    }\n\n\ndef main(**kwargs: Any) -> dict:\n    try:\n        validate_result\
          \ = kwargs.get(\"validate_result\") or kwargs.get(\"text\") or \"{}\"\n\
          \        knowledge_json = _normalize_knowledge_json(kwargs.get(\"knowledge_json\"\
          ) or \"{}\")\n        retry_count = _to_int(kwargs.get(\"retry_count\"),\
          \ 0)\n        max_retry = _to_int(kwargs.get(\"max_retry\"), 3)\n\n    \
          \    if not _structure_ok(knowledge_json):\n            return _k1x_empty_outputs(retry_count,\
          \ max_retry, knowledge_json)\n\n        v = _parse_llm_json(validate_result)\n\
          \        if not v:\n            out = _empty_outputs(retry_count, knowledge_json)\n\
          \            if retry_count >= max_retry:\n                out[\"route\"\
          ] = \"circuit_break\"\n            else:\n                out[\"retry_count\"\
          ] = retry_count + 1\n            return out\n\n        valid = _as_bool(v.get(\"\
          knowledge_valid\", False))\n        issues = v.get(\"knowledge_issues\"\
          ) or []\n\n        if valid:\n            route = \"continue\"\n       \
          \     new_retry = retry_count\n        elif retry_count < max_retry:\n \
          \           route = \"retry\"\n            new_retry = retry_count + 1\n\
          \        else:\n            route = \"circuit_break\"\n            new_retry\
          \ = retry_count\n\n        formatted = []\n        for item in issues[:12]:\n\
          \            if isinstance(item, dict):\n                formatted.append(\n\
          \                    f\"- [{item.get('severity', 'warn')}] {item.get('location',\
          \ '')}: {item.get('message', '')}\"\n                )\n            else:\n\
          \                formatted.append(f\"- {item}\")\n\n        return {\n \
          \           \"route\": route,\n            \"retry_count\": int(new_retry),\n\
          \            \"retry_issues_formatted\": \"\\n\".join(formatted),\n    \
          \        \"knowledge_valid\": bool(valid),\n            \"validation_report\"\
          : json.dumps(v, ensure_ascii=False),\n            \"knowledge_json\": knowledge_json,\n\
          \        }\n    except Exception:\n        return _empty_outputs(_to_int(kwargs.get(\"\
          retry_count\"), 0))\n"
        code_language: python3
        outputs:
          knowledge_json:
            children: null
            type: string
          knowledge_valid:
            children: null
            type: boolean
          retry_count:
            children: null
            type: number
          retry_issues_formatted:
            children: null
            type: string
          route:
            children: null
            type: string
          validation_report:
            children: null
            type: string
        selected: false
        title: AGG — 校验聚合 Code
        type: code
        variables:
        - value_selector:
          - '1781060939134'
          - text
          value_type: string
          variable: validate_result
        - value_selector:
          - '1781060206131'
          - retry_count
          value_type: string
          variable: retry_count
        - value_selector:
          - '1781060206131'
          - max_retry
          value_type: string
          variable: max_retry
        - value_selector:
          - '1781060530938'
          - knowledge_json
          value_type: string
          variable: knowledge_json
      height: 51
      id: '1781061436838'
      position:
        x: 1285
        y: 282
      positionAbsolute:
        x: 1285
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        cases:
        - case_id: 'true'
          conditions:
          - comparison_operator: is
            id: f226ed9c-b6ec-48f8-ad51-8542f396e06b
            value: retry
            varType: string
            variable_selector:
            - '1781061436838'
            - route
          id: 'true'
          logical_operator: and
        - case_id: 27b9b7c8-b46e-485a-aac7-f2995cc8cf44
          conditions:
          - comparison_operator: is
            id: 49aeb0a5-f053-400a-b1db-b80459a240ab
            value: circuit_break
            varType: string
            variable_selector:
            - '1781061436838'
            - route
          id: 27b9b7c8-b46e-485a-aac7-f2995cc8cf44
          logical_operator: and
        - case_id: 1fc01c38-ffeb-4acc-bff5-028cb7e6e0ad
          conditions:
          - comparison_operator: is
            id: d35358c4-4621-4582-9749-a070849df11b
            value: continue
            varType: string
            variable_selector:
            - '1781061436838'
            - route
          id: 1fc01c38-ffeb-4acc-bff5-028cb7e6e0ad
          logical_operator: and
        selected: false
        title: 条件分支
        type: if-else
      height: 267
      id: '1781061638801'
      position:
        x: 1586
        y: 282
      positionAbsolute:
        x: 1586
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        code: "# RE · Knowledge Client Retry Handoff\n\nimport json\nfrom typing import\
          \ Any\n\n\ndef _to_int(value: Any, fallback: int = 0) -> int:\n    try:\n\
          \        return int(value)\n    except (TypeError, ValueError):\n      \
          \  return fallback\n\n\ndef _as_json_str(raw: Any, fallback: str = \"{}\"\
          ) -> str:\n    if raw is None:\n        return fallback\n    if isinstance(raw,\
          \ dict):\n        return json.dumps(raw, ensure_ascii=False)\n    text =\
          \ str(raw).strip()\n    return text or fallback\n\n\ndef main(**kwargs:\
          \ Any) -> dict:\n    knowledge_json = _as_json_str(kwargs.get(\"knowledge_json\"\
          ), \"{}\")\n    knowledge_summary = str(kwargs.get(\"knowledge_summary\"\
          ) or \"\").strip()\n    retry_count = _to_int(kwargs.get(\"retry_count\"\
          ), 0)\n    retry_issues_formatted = str(kwargs.get(\"retry_issues_formatted\"\
          ) or \"\")\n    validation_report = kwargs.get(\"validation_report\") or\
          \ \"{}\"\n\n    end_outputs = {\n        \"status\": \"retry\",\n      \
          \  \"circuit_break\": False,\n        \"human_action_required\": False,\n\
          \        \"retry_count\": retry_count,\n        \"knowledge_summary\": knowledge_summary,\n\
          \        \"knowledge_json\": knowledge_json,\n        \"retry_issues_formatted\"\
          : retry_issues_formatted,\n        \"validation_report\": _as_json_str(validation_report,\
          \ \"{}\"),\n        \"workflow_version\": \"novel-knowledge-generation-v1\"\
          ,\n    }\n    return {\"end_outputs\": json.dumps(end_outputs, ensure_ascii=False)}\n"
        code_language: python3
        outputs:
          end_outputs:
            children: null
            type: string
        selected: false
        title: RE
        type: code
        variables:
        - value_selector:
          - '1781060530938'
          - knowledge_json
          value_type: string
          variable: knowledge_json
        - value_selector:
          - '1781060530938'
          - knowledge_summary
          value_type: string
          variable: knowledge_summary
        - value_selector:
          - '1781061436838'
          - retry_count
          value_type: number
          variable: retry_count
        - value_selector:
          - '1781061436838'
          - retry_issues_formatted
          value_type: string
          variable: retry_issues_formatted
        - value_selector:
          - '1781061436838'
          - validation_report
          value_type: string
          variable: validation_report
      height: 51
      id: '1781061769454'
      position:
        x: 1887
        y: 282
      positionAbsolute:
        x: 1887
        y: 282
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        code: "# CB · Knowledge Circuit Break End Output\n\nimport json\nfrom typing\
          \ import Any\n\n\ndef _to_int(value: Any, fallback: int = 0) -> int:\n \
          \   try:\n        return int(value)\n    except (TypeError, ValueError):\n\
          \        return fallback\n\n\ndef _as_json_str(raw: Any, fallback: str =\
          \ \"{}\") -> str:\n    if raw is None:\n        return fallback\n    if\
          \ isinstance(raw, dict):\n        return json.dumps(raw, ensure_ascii=False)\n\
          \    text = str(raw).strip()\n    return text or fallback\n\n\ndef main(**kwargs:\
          \ Any) -> dict:\n    knowledge_json = _as_json_str(kwargs.get(\"knowledge_json\"\
          ), \"{}\")\n    knowledge_summary = str(kwargs.get(\"knowledge_summary\"\
          ) or \"\").strip()\n    retry_count = _to_int(kwargs.get(\"retry_count\"\
          ), 0)\n    validation_report = kwargs.get(\"validation_report\") or \"{}\"\
          \n\n    end_outputs = {\n        \"status\": \"circuit_break\",\n      \
          \  \"circuit_break\": True,\n        \"human_action_required\": True,\n\
          \        \"retry_count\": retry_count,\n        \"knowledge_summary\": knowledge_summary,\n\
          \        \"knowledge_json\": knowledge_json,\n        \"validation_report\"\
          : _as_json_str(validation_report, \"{}\"),\n        \"workflow_version\"\
          : \"novel-knowledge-generation-v1\",\n    }\n    return {\"end_outputs\"\
          : json.dumps(end_outputs, ensure_ascii=False)}\n"
        code_language: python3
        outputs:
          end_outputs:
            children: null
            type: string
        selected: false
        title: CB
        type: code
        variables:
        - value_selector:
          - '1781060530938'
          - knowledge_json
          value_type: string
          variable: knowledge_json
        - value_selector:
          - '1781060530938'
          - knowledge_summary
          value_type: string
          variable: knowledge_summary
        - value_selector:
          - '1781061436838'
          - retry_count
          value_type: number
          variable: retry_count
        - value_selector:
          - '1781061436838'
          - validation_report
          value_type: string
          variable: validation_report
      height: 51
      id: '1781062103493'
      position:
        x: 1887
        y: 372
      positionAbsolute:
        x: 1887
        y: 372
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        code: "# END_OK · Knowledge Success Assembler\n\nimport json\nfrom typing\
          \ import Any\n\n\ndef _to_int(value: Any, fallback: int = 0) -> int:\n \
          \   try:\n        return int(value)\n    except (TypeError, ValueError):\n\
          \        return fallback\n\n\ndef _parse_json(raw: Any, fallback: dict)\
          \ -> dict:\n    if isinstance(raw, dict):\n        return raw\n    if raw\
          \ is None:\n        return fallback\n    text = str(raw).strip()\n    if\
          \ not text:\n        return fallback\n    try:\n        parsed = json.loads(text)\n\
          \        return parsed if isinstance(parsed, dict) else fallback\n    except\
          \ json.JSONDecodeError:\n        return fallback\n\n\ndef main(**kwargs:\
          \ Any) -> dict:\n    knowledge_summary = str(kwargs.get(\"knowledge_summary\"\
          ) or \"\").strip()\n    knowledge_json = str(kwargs.get(\"knowledge_json\"\
          ) or \"{}\")\n    validation_report = kwargs.get(\"validation_report\")\
          \ or \"{}\"\n    retry_count = _to_int(kwargs.get(\"retry_count\"), 0)\n\
          \n    doc = _parse_json(knowledge_json, {})\n    end_outputs = {\n     \
          \   \"status\": \"success\",\n        \"circuit_break\": False,\n      \
          \  \"human_action_required\": False,\n        \"retry_count\": retry_count,\n\
          \        \"knowledge_summary\": knowledge_summary,\n        \"knowledge_json\"\
          : json.dumps(doc, ensure_ascii=False),\n        \"validation_report\": _parse_json(validation_report,\
          \ {}),\n        \"workflow_version\": \"novel-knowledge-generation-v1\"\
          ,\n    }\n    return {\"end_outputs\": json.dumps(end_outputs, ensure_ascii=False)}\n"
        code_language: python3
        outputs:
          end_outputs:
            children: null
            type: string
        selected: false
        title: END_OK
        type: code
        variables:
        - value_selector:
          - '1781060530938'
          - knowledge_summary
          value_type: string
          variable: knowledge_summary
        - value_selector:
          - '1781060530938'
          - knowledge_json
          value_type: string
          variable: knowledge_json
        - value_selector:
          - '1781061436838'
          - retry_count
          value_type: number
          variable: retry_count
        - value_selector:
          - '1781061436838'
          - validation_report
          value_type: string
          variable: validation_report
      height: 51
      id: '1781062214354'
      position:
        x: 1887
        y: 462
      positionAbsolute:
        x: 1887
        y: 462
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        code: "# PARSE · Knowledge End Outputs Flattener\n\nimport json\nfrom typing\
          \ import Any\n\n\ndef _pick_raw(*candidates: Any) -> str:\n    for c in\
          \ candidates:\n        if c is None:\n            continue\n        if isinstance(c,\
          \ dict):\n            return json.dumps(c, ensure_ascii=False)\n       \
          \ text = str(c).strip()\n        if text and text not in (\"None\", \"null\"\
          ):\n            return text\n    return \"\"\n\n\ndef _as_bool_str(value:\
          \ Any) -> str:\n    if isinstance(value, bool):\n        return \"true\"\
          \ if value else \"false\"\n    if isinstance(value, str):\n        return\
          \ \"true\" if value.strip().lower() in (\"true\", \"1\", \"yes\") else \"\
          false\"\n    return \"true\" if value else \"false\"\n\n\ndef _to_int(value:\
          \ Any, fallback: int = 0) -> int:\n    try:\n        return int(value)\n\
          \    except (TypeError, ValueError):\n        return fallback\n\n\ndef main(**kwargs:\
          \ Any) -> dict:\n    raw = _pick_raw(\n        kwargs.get(\"re_end_outputs\"\
          ),\n        kwargs.get(\"cb_end_outputs\"),\n        kwargs.get(\"ok_end_outputs\"\
          ),\n        kwargs.get(\"end_outputs\"),\n    )\n    o = json.loads(raw)\
          \ if raw else {}\n    report = o.get(\"validation_report\") or {}\n    if\
          \ isinstance(report, str):\n        try:\n            report = json.loads(report)\n\
          \        except json.JSONDecodeError:\n            report = {}\n\n    knowledge_json\
          \ = o.get(\"knowledge_json\") or \"{}\"\n    if isinstance(knowledge_json,\
          \ dict):\n        knowledge_json = json.dumps(knowledge_json, ensure_ascii=False)\n\
          \n    return {\n        \"status\": str(o.get(\"status\") or \"\"),\n  \
          \      \"circuit_break\": _as_bool_str(o.get(\"circuit_break\", False)),\n\
          \        \"human_action_required\": _as_bool_str(o.get(\"human_action_required\"\
          , False)),\n        \"retry_count\": _to_int(o.get(\"retry_count\"), 0),\n\
          \        \"knowledge_summary\": str(o.get(\"knowledge_summary\") or \"\"\
          ),\n        \"knowledge_json\": str(knowledge_json),\n        \"validation_report\"\
          : json.dumps(report, ensure_ascii=False),\n        \"retry_issues_formatted\"\
          : str(o.get(\"retry_issues_formatted\") or \"\"),\n        \"workflow_version\"\
          : str(o.get(\"workflow_version\") or \"\"),\n    }\n"
        code_language: python3
        outputs:
          circuit_break:
            children: null
            type: string
          human_action_required:
            children: null
            type: string
          knowledge_json:
            children: null
            type: string
          knowledge_summary:
            children: null
            type: string
          retry_count:
            children: null
            type: number
          retry_issues_formatted:
            children: null
            type: string
          status:
            children: null
            type: string
          validation_report:
            children: null
            type: boolean
          workflow_version:
            children: null
            type: string
        selected: false
        title: PARSE
        type: code
        variables:
        - value_selector:
          - '1781061769454'
          - end_outputs
          value_type: string
          variable: re_end_outputs
        - value_selector:
          - '1781062103493'
          - end_outputs
          value_type: string
          variable: cb_end_outputs
        - value_selector:
          - '1781062214354'
          - end_outputs
          value_type: string
          variable: ok_end_outputs
      height: 51
      id: '1781062334200'
      position:
        x: 2257
        y: 372
      positionAbsolute:
        x: 2257
        y: 372
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        outputs:
        - value_selector:
          - '1781062334200'
          - status
          value_type: string
          variable: status
        - value_selector:
          - '1781062334200'
          - circuit_break
          value_type: string
          variable: circuit_break
        - value_selector:
          - '1781062334200'
          - human_action_required
          value_type: string
          variable: human_action_required
        - value_selector:
          - '1781062334200'
          - retry_count
          value_type: number
          variable: retry_count
        - value_selector:
          - '1781062334200'
          - knowledge_summary
          value_type: string
          variable: knowledge_summary
        - value_selector:
          - '1781062334200'
          - knowledge_json
          value_type: string
          variable: knowledge_json
        - value_selector:
          - '1781062334200'
          - validation_report
          value_type: boolean
          variable: validation_report
        - value_selector:
          - '1781062334200'
          - retry_issues_formatted
          value_type: string
          variable: retry_issues_formatted
        - value_selector:
          - '1781062334200'
          - workflow_version
          value_type: string
          variable: workflow_version
        selected: false
        title: 输出
        type: end
      height: 295
      id: '1781062459128'
      position:
        x: 2747.799951171875
        y: 364
      positionAbsolute:
        x: 2747.799951171875
        y: 364
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    viewport:
      x: -275.2999511718749
      y: -19.5
      zoom: 1
  rag_pipeline_variables: []
